In [4]:
# 쥬피터노트북 셀 스타일 조절 
from IPython.core.display import display, HTML
display(HTML("<style>.container { font-weight: bold !important; }</style>"))
display(HTML("<style>.container { width: 100% !important; }</style>"))

# 경고 메세지 숨기기 
import warnings
warnings.filterwarnings(action='ignore')

In [1]:
# 관련 모듈 임포트 
import numpy as np
import pandas as pd

### 판다스(Pandas) 란?
- 데이터 처리와 분석을 위한 파이썬 라이브러리
- 파이썬계의 엑셀
- http://pandas.pydata.org

### Pandas의 자료구조
- 시리즈(Series) : 리스트와 딕셔너리 두가지의 장점을 섞어놓은 듯한 자료구조
- 데이타프레임(DataFrame) : Row와 Column으로 이뤄진 2차원 형태의 자료구조. 시리즈(Series)의 결합체
- 넘파이배열 < 시리즈 < 데이타프레임

In [2]:
np.__version__

'1.21.5'

In [5]:
pd.__version__

'1.4.2'

### 판다스의 자료형태
- 시리즈 <= 리스트+딕셔너리
- 데이타프레임 <= 시리즈의 집합. 엑셀 자료구조, 컬럼과 셀로 구성

### Series 만들기1
- 시리즈(Series)란? 인덱스와 값이 자동으로 생성되는 데이터 단위
- 1차원 집합형 자료구조
- 리스트,딕셔너리와의 차이점은? 키가 있고 세로로 출력
- 시리즈이름 = pd.Series([리스트]) : 숫자키
- 시리즈이름 = pd.Series({딕셔너리}) : 키
- 시리즈이름 = pd.Series(넘파이배열 np.arange() 등) : 숫자키

In [16]:
# 리스트 => 시리즈
s1 = pd.Series([10, 20, 30, 40])
s1

0    10
1    20
2    30
3    40
dtype: int64

In [26]:
# 리스트(혼합형) => 시리즈
s2 = pd.Series([100, True, 3.14, 'Python'])
s2

0       100
1      True
2      3.14
3    Python
dtype: object

In [18]:
# 시리즈의 데이타형 확인
type(s1)

pandas.core.series.Series

In [27]:
# 각 값들의 데이타형 확인 => 혼합형
print(s2)
print()
# 인덱싱
print(s2[0], type(s2[0]))
print(s2[1], type(s2[1]))
print(s2[2], type(s2[2]))

0       100
1      True
2      3.14
3    Python
dtype: object

100 <class 'int'>
True <class 'bool'>
3.14 <class 'float'>

In [29]:
# 딕셔너리 => 시리즈 
# 딕셔너리 키가 시리즈의 인덱스로 변경된다. 
s1 = pd.Series({'a':'apple', 'b':'boat', 'c':'cup'})
s1

a    apple
b     boat
c      cup
dtype: object

In [31]:
# 키인덱싱, 숫자인덱싱도 가능
s1[1], s1['b'], s1[-1], s1['c']

('boat', 'boat', 'cup', 'cup')

In [32]:
# 중복키가 있다면? => 마지막만 유효
s2 = pd.Series({'a':'apple', 'b':'boat', 'c':'cup', 'a':'apart'})
s2

a    apart
b     boat
c      cup
dtype: object

In [35]:
# 넘파이배열 => 시리즈
arr = np.array([1,2,3,'파이썬'])
print(arr, arr.dtype)
s1 = pd.Series(arr)
s1

['1' '2' '3' '파이썬'] <U11

0      1
1      2
2      3
3    파이썬
dtype: object

In [37]:
print(type(s1[0]))

<class 'str'>

In [46]:
# 2차원 넘파이배열 => 시리즈 ?
arr = np.arange(1,10).reshape(3,3)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [42]:
# ValueError: Data must be 1-dimensional
s2 = pd.Series(arr)
s2

ValueError: Data must be 1-dimensional

### 시리즈 속성
- 인덱스값 보기 : 시리즈변수.index
- 데이타값 보기 : 시리즈변수.values
- 시리즈이름
- 시리즈인덱스이름 : 시리즈변수.index.name

In [50]:
s1 = pd.Series(np.arange(11,18))
s1

0    11
1    12
2    13
3    14
4    15
5    16
6    17
dtype: int32

In [51]:
# 시리즈의 인덱스
s1.index

RangeIndex(start=0, stop=7, step=1)

In [53]:
# 시리즈의 실제값 => 넘파이배열
s1.values, type(s1.values)

(array([11, 12, 13, 14, 15, 16, 17]), numpy.ndarray)

In [55]:
# 인덱스값을 별도 지정하면서 시리즈 생성
s2 = pd.Series(np.arange(11,15), index=['하나', '둘', '셋', '넷'])
s2

하나    11
둘     12
셋     13
넷     14
dtype: int32

In [58]:
s2.index, list(s2.index), type(s2.index)

(Index(['하나', '둘', '셋', '넷'], dtype='object'),
 ['하나', '둘', '셋', '넷'],
 pandas.core.indexes.base.Index)

In [60]:
s2['하나'], s2.하나

(11, 11)

In [61]:
# 인덱스 재설정
s2.index = ['step1','step2','step3','step4']
s2

step1    11
step2    12
step3    13
step4    14
dtype: int32

In [62]:
# 시리즈의 인덱스 대표이름 설정
s2.index.name = '인덱스명'
s2

인덱스명
step1    11
step2    12
step3    13
step4    14
dtype: int32

In [63]:
# 시리즈의 인덱스 대표이름 설정
s2.name = '시리즈이름'
s2

인덱스명
step1    11
step2    12
step3    13
step4    14
Name: 시리즈이름, dtype: int32

Quiz 1
1) 딕셔너리 생성 
   {'a': 'apart', 'b': 'banana', 'c': 'cat'}
2) 리스트 생성 
  ['아파트', '바나나', '고양이']
3) 1번의 키값 + 2번의 데이타 => 시리즈생성 
  'a'   '아파트'
  'b'   '바나나'
  'c'   '고양이'

In [64]:
s1 = pd.Series({'a':'apart', 'b':'banana', 'c':'cat'})
s1

a     apart
b    banana
c       cat
dtype: object

In [66]:
s2 = pd.Series(['아파트','바나나','고양이'])
s2

0    아파트
1    바나나
2    고양이
dtype: object

In [68]:
list(s1.index)

['a', 'b', 'c']

In [69]:
s2.index = list(s1.index)
s2

a    아파트
b    바나나
c    고양이
dtype: object

In [ ]:
# 풀이

In [79]:
myDict = {'a': 'apart', 'b': 'banana', 'c': 'cat'}
myList = ['아파트', '바나나', '고양이']
myDict , myList

({'a': 'apart', 'b': 'banana', 'c': 'cat'}, ['아파트', '바나나', '고양이'])

In [80]:
myDict.keys()

dict_keys(['a', 'b', 'c'])

In [81]:
mySeries = pd.Series(myList, index=myDict.keys())
mySeries

a    아파트
b    바나나
c    고양이
dtype: object

Quiz 2
아래와 같은 형태로 시리즈를 생성하고 평균값을 출력하여라

과목 
국어    90
수학    80
영어    100
과학    55
역사    70 
Name:중간고사성적표, dtype=?
---------
평균 = ?

In [78]:
arr= np.array([90,80,100,55,70])
s1 = pd.Series(arr)
s1.index = ['국어', '수학', '영어', '과학', '역사']
s1.name = '중간고사 성적표'
print(s1)
print('-'*10)
print('평균 =', arr.mean())

국어     90
수학     80
영어    100
과학     55
역사     70
Name: 중간고사 성적표, dtype: int32
----------
평균 = 79.0

In [ ]:
# 풀이

In [82]:
score = {'국어':90,'수학':80,'영어':100,'과학':55,'역사':70}
s = pd.Series(score)
s.name = '중간고사성적표'
s.index.name = '과목'
s

과목
국어     90
수학     80
영어    100
과학     55
역사     70
Name: 중간고사성적표, dtype: int64

In [83]:
# 평균구하기 1
tot = 0
for i in s:
    tot = tot + i
print("---------")
print("평균 =",tot/len(s))

---------
평균 = 79.0

In [84]:
tot = 0
for i in s:
    tot = tot + i

print(s)    
print("---------")
print("평균 =",tot/len(s))

과목
국어     90
수학     80
영어    100
과학     55
역사     70
Name: 중간고사성적표, dtype: int64
---------
평균 = 79.0

In [86]:
# 평균구하기 2
print(s)    
print("---------")
print("평균 =", np.mean(s.values))

과목
국어     90
수학     80
영어    100
과학     55
역사     70
Name: 중간고사성적표, dtype: int64
---------
평균 = 79.0