In [106]:
# 쥬피터 노트북 셀 크기 설정 
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; font-weight:bold }</style>"))

# 경고메세지 숨기기
import warnings
warnings.filterwarnings(action='ignore')

In [107]:
import numpy as np
import pandas as pd

### 판다스의 JSON
- pd.read_json(url|FilePath)
- pd.to_json(FileRath)

In [ ]:
# *.json => 데이타프레임

In [1]:
ls data\*.json

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 629C-402A

 C:\Users\pusan\Desktop\workspace202205\03_DS\data 디렉터리

2021-02-04  오전 12:12               416 example.json
2021-02-04  오전 12:16               689 example2.json
2021-05-29  오전 12:48               275 student_grade.json
               3개 파일               1,380 바이트
               0개 디렉터리  422,955,200,512 바이트 남음

In [10]:
df = pd.read_json('data\example.json')
df

,name,age,Born At,Birthdate,photo
0,Tom Cruise,56,"Syracuse, NY","July 3, 1962",https://jsonformatter.org/img/tom-cruise.jpg
1,Robert Downey Jr.,53,"New York City, NY","April 4, 1965",https://jsonformatter.org/img/Robert-Downey-Jr...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       2 non-null      object
 1   age        2 non-null      int64
 2   Born At    2 non-null      object
 3   Birthdate  2 non-null      object
 4   photo      2 non-null      object
dtypes: int64(1), object(4)
memory usage: 208.0+ bytes

In [13]:
!type data\example.json

[
    {
      "name": "Tom Cruise",
      "age": 56,
      "Born At": "Syracuse, NY",
      "Birthdate": "July 3, 1962",
      "photo": "https://jsonformatter.org/img/tom-cruise.jpg"
    },
    {
      "name": "Robert Downey Jr.",
      "age": 53,
      "Born At": "New York City, NY",
      "Birthdate": "April 4, 1965",
      "photo": "https://jsonformatter.org/img/Robert-Downey-Jr.jpg"
    }
]

In [14]:
df2 = pd.read_json('data\example2.json')
df2

,name,age,Born At,Birthdate,wife,weight,hasChildren,hasGreyHair,children
0,Tom Cruise,56,"Syracuse, NY","July 3, 1962",None,67.5,True,False,"[Suri, Isabella Jane, Connor]"
1,Robert Downey Jr.,53,"New York City, NY","April 4, 1965",Susan Downey,77.1,True,False,"[Indio Falconer, Avri Roel, Exton Elias]"

In [15]:
!type data\example2.json

[
    {
      "name": "Tom Cruise",
      "age": 56,
      "Born At": "Syracuse, NY",
      "Birthdate": "July 3, 1962",
      "wife": null,
      "weight": 67.5,
      "hasChildren": true,
      "hasGreyHair": false,
      "children": [
        "Suri",
        "Isabella Jane",
        "Connor"
      ]
    },
    {
      "name": "Robert Downey Jr.",
      "age": 53,
      "Born At": "New York City, NY",
      "Birthdate": "April 4, 1965",
      "wife": "Susan Downey",
      "weight": 77.1,
      "hasChildren": true,
      "hasGreyHair": false,
      "children": [
        "Indio Falconer",
        "Avri Roel",
        "Exton Elias"
      ]
    }
  ]

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         2 non-null      object
 1   age          2 non-null      int64
 2   Born At      2 non-null      object
 3   Birthdate    2 non-null      object
 4   wife         1 non-null      object
 5   weight       2 non-null      float64
 6   hasChildren  2 non-null      bool
 7   hasGreyHair  2 non-null      bool
 8   children     2 non-null      object
dtypes: bool(2), float64(1), int64(1), object(5)
memory usage: 244.0+ bytes

In [18]:
# children 컬럼 => str => 리스트 처리
df2['children']

0               [Suri, Isabella Jane, Connor]
1    [Indio Falconer, Avri Roel, Exton Elias]
Name: children, dtype: object

In [23]:
df2.loc[0, 'children'], type(df2.loc[0, 'children'])

(['Suri', 'Isabella Jane', 'Connor'], list)

In [24]:
df2.iloc[0, 8], type(df2.loc[0, 'children'])

(['Suri', 'Isabella Jane', 'Connor'], list)

In [30]:
# 1행의 children 컬럼에서 첫번째 리스트 값 반환
df2.loc[0, 'children'], df2.loc[0, 'children'][0], df2.loc[0, 'children'][0][0]

(['Suri', 'Isabella Jane', 'Connor'], 'Suri', 'S')

In [35]:
# children 컬럼의 리스트안의 첫번째 값 => 시리즈
df2['children'].str[0]

0              Suri
1    Indio Falconer
Name: children, dtype: object

In [36]:
df2['children'][0]

['Suri', 'Isabella Jane', 'Connor']

In [37]:
df2

,name,age,Born At,Birthdate,wife,weight,hasChildren,hasGreyHair,children
0,Tom Cruise,56,"Syracuse, NY","July 3, 1962",None,67.5,True,False,"[Suri, Isabella Jane, Connor]"
1,Robert Downey Jr.,53,"New York City, NY","April 4, 1965",Susan Downey,77.1,True,False,"[Indio Falconer, Avri Roel, Exton Elias]"

In [38]:
# 첫번째 자녀만 별도 컬럼으로 추가
df2['children1'] = df2['children'].str[0]
df2

,name,age,Born At,Birthdate,wife,weight,hasChildren,hasGreyHair,children,children1
0,Tom Cruise,56,"Syracuse, NY","July 3, 1962",None,67.5,True,False,"[Suri, Isabella Jane, Connor]",Suri
1,Robert Downey Jr.,53,"New York City, NY","April 4, 1965",Susan Downey,77.1,True,False,"[Indio Falconer, Avri Roel, Exton Elias]",Indio Falconer

In [39]:
df2['children2'] = df2['children'].str[1]
df2['children3'] = df2['children'].str[-1]

In [40]:
df2

,name,age,Born At,Birthdate,wife,weight,hasChildren,hasGreyHair,children,children1,children2,children3
0,Tom Cruise,56,"Syracuse, NY","July 3, 1962",None,67.5,True,False,"[Suri, Isabella Jane, Connor]",Suri,Isabella Jane,Connor
1,Robert Downey Jr.,53,"New York City, NY","April 4, 1965",Susan Downey,77.1,True,False,"[Indio Falconer, Avri Roel, Exton Elias]",Indio Falconer,Avri Roel,Exton Elias

### 웹상의 json 파일 => 데이타프레임
https://api.exchangerate-api.com/v4/latest/USD

In [41]:
url = 'https://api.exchangerate-api.com/v4/latest/USD'
df = pd.read_json(url)
df

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-06-24,1656028801,3.67
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-06-24,1656028801,89.54
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-06-24,1656028801,113.35
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-06-24,1656028801,411.40
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-06-24,1656028801,1.79
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-06-24,1656028801,113.48
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-06-24,1656028801,249.91
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-06-24,1656028801,15.96
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-06-24,1656028801,17.03
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2022-06-24,1656028801,345.80

### json 파일 쓰기

In [42]:
df.to_json('output/exchangerate-api.json')

In [43]:
ls output\*.json

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 629C-402A

 C:\Users\pusan\Desktop\workspace202205\03_DS\output 디렉터리

2022-06-24  오전 10:03            33,749 exchangerate-api.json
               1개 파일              33,749 바이트
               0개 디렉터리  422,951,219,200 바이트 남음

In [44]:
!type output\exchangerate-api.json

{"provider":{"AED":"https:\/\/www.exchangerate-api.com","AFN":"https:\/\/www.exchangerate-api.com","ALL":"https:\/\/www.exchangerate-api.com","AMD":"https:\/\/www.exchangerate-api.com","ANG":"https:\/\/www.exchangerate-api.com","AOA":"https:\/\/www.exchangerate-api.com","ARS":"https:\/\/www.exchangerate-api.com","AUD":"https:\/\/www.exchangerate-api.com","AWG":"https:\/\/www.exchangerate-api.com","AZN":"https:\/\/www.exchangerate-api.com","BAM":"https:\/\/www.exchangerate-api.com","BBD":"https:\/\/www.exchangerate-api.com","BDT":"https:\/\/www.exchangerate-api.com","BGN":"https:\/\/www.exchangerate-api.com","BHD":"https:\/\/www.exchangerate-api.com","BIF":"https:\/\/www.exchangerate-api.com","BMD":"https:\/\/www.exchangerate-api.com","BND":"https:\/\/www.exchangerate-api.com","BOB":"https:\/\/www.exchangerate-api.com","BRL":"https:\/\/www.exchangerate-api.com","BSD":"https:\/\/www.exchangerate-api.com","BTN":"https:\/\/www.exchangerate-api.com","BWP":"https:\/\/www.exchangerate-api.com","BYN":"https:\/\/www.exchangerate-api.com","BZD":"https:\/\/www.exchangerate-api.com","CAD":"https:\/\/www.exchangerate-api.com","CDF":"https:\/\/www.exchangerate-api.com","CHF":"https:\/\/www.exchangerate-api.com","CLP":"https:\/\/www.exchangerate-api.com","CNY":"https:\/\/www.exchangerate-api.com","COP":"https:\/\/www.exchangerate-api.com","CRC":"https:\/\/www.exchangerate-api.com","CUP":"https:\/\/www.exchangerate-api.com","CVE":"https:\/\/www.exchangerate-api.com","CZK":"https:\/\/www.exchangerate-api.com","DJF":"https:\/\/www.exchangerate-api.com","DKK":"https:\/\/www.exchangerate-api.com","DOP":"https:\/\/www.exchangerate-api.com","DZD":"https:\/\/www.exchangerate-api.com","EGP":"https:\/\/www.exchangerate-api.com","ERN":"https:\/\/www.exchangerate-api.com","ETB":"https:\/\/www.exchangerate-api.com","EUR":"https:\/\/www.exchangerate-api.com","FJD":"https:\/\/www.exchangerate-api.com","FKP":"https:\/\/www.exchangerate-api.com","FOK":"https:\/\/www.exchangerate-api.com","GBP":"https:\/\/www.exchangerate-api.com","GEL":"https:\/\/www.exchangerate-api.com","GGP":"https:\/\/www.exchangerate-api.com","GHS":"https:\/\/www.exchangerate-api.com","GIP":"https:\/\/www.exchangerate-api.com","GMD":"https:\/\/www.exchangerate-api.com","GNF":"https:\/\/www.exchangerate-api.com","GTQ":"https:\/\/www.exchangerate-api.com","GYD":"https:\/\/www.exchangerate-api.com","HKD":"https:\/\/www.exchangerate-api.com","HNL":"https:\/\/www.exchangerate-api.com","HRK":"https:\/\/www.exchangerate-api.com","HTG":"https:\/\/www.exchangerate-api.com","HUF":"https:\/\/www.exchangerate-api.com","IDR":"https:\/\/www.exchangerate-api.com","ILS":"https:\/\/www.exchangerate-api.com","IMP":"https:\/\/www.exchangerate-api.com","INR":"https:\/\/www.exchangerate-api.com","IQD":"https:\/\/www.exchangerate-api.com","IRR":"https:\/\/www.exchangerate-api.com","ISK":"https:\/\/www.exchangerate-api.com","JEP":"https:\/\/www.exchangerate-api.com","JMD":"https:\/\/www.exchangerate-api.com","JOD":"https:\/\/www.exchangerate-api.com","JPY":"https:\/\/www.exchangerate-api.com","KES":"https:\/\/www.exchangerate-api.com","KGS":"https:\/\/www.exchangerate-api.com","KHR":"https:\/\/www.exchangerate-api.com","KID":"https:\/\/www.exchangerate-api.com","KMF":"https:\/\/www.exchangerate-api.com","KRW":"https:\/\/www.exchangerate-api.com","KWD":"https:\/\/www.exchangerate-api.com","KYD":"https:\/\/www.exchangerate-api.com","KZT":"https:\/\/www.exchangerate-api.com","LAK":"https:\/\/www.exchangerate-api.com","LBP":"https:\/\/www.exchangerate-api.com","LKR":"https:\/\/www.exchangerate-api.com","LRD":"https:\/\/www.exchangerate-api.com","LSL":"https:\/\/www.exchangerate-api.com","LYD":"https:\/\/www.exchangerate-api.com","MAD":"https:\/\/www.exchangerate-api.com","MDL":"https:\/\/www.exchangerate-api.com","MGA":"https:\/\/www.exchangerate-api.com","MKD":"https:\/\/www.exchangerate-api.com","MMK":"https:\/\/www.exchangerate-api.com","MNT":"https:\/\/www.exchangerate-api.com","MOP":"https:\/\/www.exchangerate-api.com","MRU":"https:\/\/www.exchangerate-api.com","MUR":"https:\/\/www.exchangerate-api.com","MVR":"https:\/\/www.exchangerate-api.com","MWK":"https:\/\/www.exchangerate-api.com","MXN":"https:\/\/www.exchangerate-api.com","MYR":"https:\/\/www.exchangerate-api.com","MZN":"https:\/\/www.exchangerate-api.com","NAD":"https:\/\/www.exchangerate-api.com","NGN":"https:\/\/www.exchangerate-api.com","NIO":"https:\/\/www.exchangerate-api.com","NOK":"https:\/\/www.exchangerate-api.com","NPR":"https:\/\/www.exchangerate-api.com","NZD":"https:\/\/www.exchangerate-api.com","OMR":"https:\/\/www.exchangerate-api.com","PAB":"https:\/\/www.exchangerate-api.com","PEN":"https:\/\/www.exchangerate-api.com","PGK":"https:\/\/www.exchangerate-api.com","PHP":"https:\/\/www.exchangerate-api.com","PKR":"https:\/\/www.exchangerate-api.com","PLN":"https:\/\/www.exchangerate-api.com","PYG":"https:\/\/www.exchangerate-api.com","QAR":"https:\/\/www.exchangerate-api.com","RON":"https:\/\/www.exchangerate-api.com","RSD":"https:\/\/www.exchangerate-api.com","RUB":"https:\/\/www.exchangerate-api.com","RWF":"https:\/\/www.exchangerate-api.com","SAR":"https:\/\/www.exchangerate-api.com","SBD":"https:\/\/www.exchangerate-api.com","SCR":"https:\/\/www.exchangerate-api.com","SDG":"https:\/\/www.exchangerate-api.com","SEK":"https:\/\/www.exchangerate-api.com","SGD":"https:\/\/www.exchangerate-api.com","SHP":"https:\/\/www.exchangerate-api.com","SLL":"https:\/\/www.exchangerate-api.com","SOS":"https:\/\/www.exchangerate-api.com","SRD":"https:\/\/www.exchangerate-api.com","SSP":"https:\/\/www.exchangerate-api.com","STN":"https:\/\/www.exchangerate-api.com","SYP":"https:\/\/www.exchangerate-api.com","SZL":"https:\/\/www.exchangerate-api.com","THB":"https:\/\/www.exchangerate-api.com","TJS":"https:\/\/www.exchangerate-api.com","TMT":"https:\/\/www.exchangerate-api.com","TND":"https:\/\/www.exchangerate-api.com","TOP":"https:\/\/www.exchangerate-api.com","TRY":"https:\/\/www.exchangerate-api.com","TTD":"https:\/\/www.exchangerate-api.com","TVD":"https:\/\/www.exchangerate-api.com","TWD":"https:\/\/www.exchangerate-api.com","TZS":"https:\/\/www.exchangerate-api.com","UAH":"https:\/\/www.exchangerate-api.com","UGX":"https:\/\/www.exchangerate-api.com","USD":"https:\/\/www.exchangerate-api.com","UYU":"https:\/\/www.exchangerate-api.com","UZS":"https:\/\/www.exchangerate-api.com","VES":"https:\/\/www.exchangerate-api.com","VND":"https:\/\/www.exchangerate-api.com","VUV":"https:\/\/www.exchangerate-api.com","WST":"https:\/\/www.exchangerate-api.com","XAF":"https:\/\/www.exchangerate-api.com","XCD":"https:\/\/www.exchangerate-api.com","XDR":"https:\/\/www.exchangerate-api.com","XOF":"https:\/\/www.exchangerate-api.com","XPF":"https:\/\/www.exchangerate-api.com","YER":"https:\/\/www.exchangerate-api.com","ZAR":"https:\/\/www.exchangerate-api.com","ZMW":"https:\/\/www.exchangerate-api.com","ZWL":"https:\/\/www.exchangerate-api.com"},"WARNING_UPGRADE_TO_V6":{"AED":"https:\/\/www.exchangerate-api.com\/docs\/free","AFN":"https:\/\/www.exchangerate-api.com\/docs\/free","ALL":"https:\/\/www.exchangerate-api.com\/docs\/free","AMD":"https:\/\/www.exchangerate-api.com\/docs\/free","ANG":"https:\/\/www.exchangerate-api.com\/docs\/free","AOA":"https:\/\/www.exchangerate-api.com\/docs\/free","ARS":"https:\/\/www.exchangerate-api.com\/docs\/free","AUD":"https:\/\/www.exchangerate-api.com\/docs\/free","AWG":"https:\/\/www.exchangerate-api.com\/docs\/free","AZN":"https:\/\/www.exchangerate-api.com\/docs\/free","BAM":"https:\/\/www.exchangerate-api.com\/docs\/free","BBD":"https:\/\/www.exchangerate-api.com\/docs\/free","BDT":"https:\/\/www.exchangerate-api.com\/docs\/free","BGN":"https:\/\/www.exchangerate-api.com\/docs\/free","BHD":"https:\/\/www.exchangerate-api.com\/docs\/free","BIF":"https:\/\/www.exchangerate-api.com\/docs\/free","BMD":"https:\/\/www.exchangerate-api.com\/docs\/free","BND":"https:\/\/www.exchangerate-api.com\/docs\/free","BOB":"https:\/\/www.exchangerate-api.com\/docs\/free","BRL":"https:\/\/www.exchangerate-api.com\/docs\/free","BSD":"https:\/\/www.exchangerate-api.com\/docs\/free","BTN":"https:\/\/www.exchangerate-api.com\/docs\/free","BWP":"https:\/\/www.exchangerate-api.com\/docs\/free","BYN":"https:\/\/www.exchangerate-api.com\/docs\/free","BZD":"https:\/\/www.exchangerate-api.com\/docs\/free","CAD":"https:\/\/www.exchangerate-api.com\/docs\/free","CDF":"https:\/\/www.exchangerate-api.com\/docs\/free","CHF":"https:\/\/www.exchangerate-api.com\/docs\/free","CLP":"https:\/\/www.exchangerate-api.com\/docs\/free","CNY":"https:\/\/www.exchangerate-api.com\/docs\/free","COP":"https:\/\/www.exchangerate-api.com\/docs\/free","CRC":"https:\/\/www.exchangerate-api.com\/docs\/free","CUP":"https:\/\/www.exchangerate-api.com\/docs\/free","CVE":"https:\/\/www.exchangerate-api.com\/docs\/free","CZK":"https:\/\/www.exchangerate-api.com\/docs\/free","DJF":"https:\/\/www.exchangerate-api.com\/docs\/free","DKK":"https:\/\/www.exchangerate-api.com\/docs\/free","DOP":"https:\/\/www.exchangerate-api.com\/docs\/free","DZD":"https:\/\/www.exchangerate-api.com\/docs\/free","EGP":"https:\/\/www.exchangerate-api.com\/docs\/free","ERN":"https:\/\/www.exchangerate-api.com\/docs\/free","ETB":"https:\/\/www.exchangerate-api.com\/docs\/free","EUR":"https:\/\/www.exchangerate-api.com\/docs\/free","FJD":"https:\/\/www.exchangerate-api.com\/docs\/free","FKP":"https:\/\/www.exchangerate-api.com\/docs\/free","FOK":"https:\/\/www.exchangerate-api.com\/docs\/free","GBP":"https:\/\/www.exchangerate-api.com\/docs\/free","GEL":"https:\/\/www.exchangerate-api.com\/docs\/free","GGP":"https:\/\/www.exchangerate-api.com\/docs\/free","GHS":"https:\/\/www.exchangerate-api.com\/docs\/free","GIP":"https:\/\/www.exchangerate-api.com\/docs\/free","GMD":"https:\/\/www.exchangerate-api.com\/docs\/free","GNF":"https:\/\/www.exchangerate-api.com\/docs\/free","GTQ":"https:\/\/www.exchangerate-api.com\/docs\/free","GYD":"https:\/\/www.exchangerate-api.com\/docs\/free","HKD":"https:\/\/www.exchangerate-api.com\/docs\/free","HNL":"https:\/\/www.exchangerate-api.com\/docs\/free","HRK":"https:\/\/www.exchangerate-api.com\/docs\/free","HTG":"https:\/\/www.exchangerate-api.com\/docs\/free","HUF":"https:\/\/www.exchangerate-api.com\/docs\/free","IDR":"https:\/\/www.exchangerate-api.com\/docs\/free","ILS":"https:\/\/www.exchangerate-api.com\/docs\/free","IMP":"https:\/\/www.exchangerate-api.com\/docs\/free","INR":"https:\/\/www.exchangerate-api.com\/docs\/free","IQD":"https:\/\/www.exchangerate-api.com\/docs\/free","IRR":"https:\/\/www.exchangerate-api.com\/docs\/free","ISK":"https:\/\/www.exchangerate-api.com\/docs\/free","JEP":"https:\/\/www.exchangerate-api.com\/docs\/free","JMD":"https:\/\/www.exchangerate-api.com\/docs\/free","JOD":"https:\/\/www.exchangerate-api.com\/docs\/free","JPY":"https:\/\/www.exchangerate-api.com\/docs\/free","KES":"https:\/\/www.exchangerate-api.com\/docs\/free","KGS":"https:\/\/www.exchangerate-api.com\/docs\/free","KHR":"https:\/\/www.exchangerate-api.com\/docs\/free","KID":"https:\/\/www.exchangerate-api.com\/docs\/free","KMF":"https:\/\/www.exchangerate-api.com\/docs\/free","KRW":"https:\/\/www.exchangerate-api.com\/docs\/free","KWD":"https:\/\/www.exchangerate-api.com\/docs\/free","KYD":"https:\/\/www.exchangerate-api.com\/docs\/free","KZT":"https:\/\/www.exchangerate-api.com\/docs\/free","LAK":"https:\/\/www.exchangerate-api.com\/docs\/free","LBP":"https:\/\/www.exchangerate-api.com\/docs\/free","LKR":"https:\/\/www.exchangerate-api.com\/docs\/free","LRD":"https:\/\/www.exchangerate-api.com\/docs\/free","LSL":"https:\/\/www.exchangerate-api.com\/docs\/free","LYD":"https:\/\/www.exchangerate-api.com\/docs\/free","MAD":"https:\/\/www.exchangerate-api.com\/docs\/free","MDL":"https:\/\/www.exchangerate-api.com\/docs\/free","MGA":"https:\/\/www.exchangerate-api.com\/docs\/free","MKD":"https:\/\/www.exchangerate-api.com\/docs\/free","MMK":"https:\/\/www.exchangerate-api.com\/docs\/free","MNT":"https:\/\/www.exchangerate-api.com\/docs\/free","MOP":"https:\/\/www.exchangerate-api.com\/docs\/free","MRU":"https:\/\/www.exchangerate-api.com\/docs\/free","MUR":"https:\/\/www.exchangerate-api.com\/docs\/free","MVR":"https:\/\/www.exchangerate-api.com\/docs\/free","MWK":"https:\/\/www.exchangerate-api.com\/docs\/free","MXN":"https:\/\/www.exchangerate-api.com\/docs\/free","MYR":"https:\/\/www.exchangerate-api.com\/docs\/free","MZN":"https:\/\/www.exchangerate-api.com\/docs\/free","NAD":"https:\/\/www.exchangerate-api.com\/docs\/free","NGN":"https:\/\/www.exchangerate-api.com\/docs\/free","NIO":"https:\/\/www.exchangerate-api.com\/docs\/free","NOK":"https:\/\/www.exchangerate-api.com\/docs\/free","NPR":"https:\/\/www.exchangerate-api.com\/docs\/free","NZD":"https:\/\/www.exchangerate-api.com\/docs\/free","OMR":"https:\/\/www.exchangerate-api.com\/docs\/free","PAB":"https:\/\/www.exchangerate-api.com\/docs\/free","PEN":"https:\/\/www.exchangerate-api.com\/docs\/free","PGK":"https:\/\/www.exchangerate-api.com\/docs\/free","PHP":"https:\/\/www.exchangerate-api.com\/docs\/free","PKR":"https:\/\/www.exchangerate-api.com\/docs\/free","PLN":"https:\/\/www.exchangerate-api.com\/docs\/free","PYG":"https:\/\/www.exchangerate-api.com\/docs\/free","QAR":"https:\/\/www.exchangerate-api.com\/docs\/free","RON":"https:\/\/www.exchangerate-api.com\/docs\/free","RSD":"https:\/\/www.exchangerate-api.com\/docs\/free","RUB":"https:\/\/www.exchangerate-api.com\/docs\/free","RWF":"https:\/\/www.exchangerate-api.com\/docs\/free","SAR":"https:\/\/www.exchangerate-api.com\/docs\/free","SBD":"https:\/\/www.exchangerate-api.com\/docs\/free","SCR":"https:\/\/www.exchangerate-api.com\/docs\/free","SDG":"https:\/\/www.exchangerate-api.com\/docs\/free","SEK":"https:\/\/www.exchangerate-api.com\/docs\/free","SGD":"https:\/\/www.exchangerate-api.com\/docs\/free","SHP":"https:\/\/www.exchangerate-api.com\/docs\/free","SLL":"https:\/\/www.exchangerate-api.com\/docs\/free","SOS":"https:\/\/www.exchangerate-api.com\/docs\/free","SRD":"https:\/\/www.exchangerate-api.com\/docs\/free","SSP":"https:\/\/www.exchangerate-api.com\/docs\/free","STN":"https:\/\/www.exchangerate-api.com\/docs\/free","SYP":"https:\/\/www.exchangerate-api.com\/docs\/free","SZL":"https:\/\/www.exchangerate-api.com\/docs\/free","THB":"https:\/\/www.exchangerate-api.com\/docs\/free","TJS":"https:\/\/www.exchangerate-api.com\/docs\/free","TMT":"https:\/\/www.exchangerate-api.com\/docs\/free","TND":"https:\/\/www.exchangerate-api.com\/docs\/free","TOP":"https:\/\/www.exchangerate-api.com\/docs\/free","TRY":"https:\/\/www.exchangerate-api.com\/docs\/free","TTD":"https:\/\/www.exchangerate-api.com\/docs\/free","TVD":"https:\/\/www.exchangerate-api.com\/docs\/free","TWD":"https:\/\/www.exchangerate-api.com\/docs\/free","TZS":"https:\/\/www.exchangerate-api.com\/docs\/free","UAH":"https:\/\/www.exchangerate-api.com\/docs\/free","UGX":"https:\/\/www.exchangerate-api.com\/docs\/free","USD":"https:\/\/www.exchangerate-api.com\/docs\/free","UYU":"https:\/\/www.exchangerate-api.com\/docs\/free","UZS":"https:\/\/www.exchangerate-api.com\/docs\/free","VES":"https:\/\/www.exchangerate-api.com\/docs\/free","VND":"https:\/\/www.exchangerate-api.com\/docs\/free","VUV":"https:\/\/www.exchangerate-api.com\/docs\/free","WST":"https:\/\/www.exchangerate-api.com\/docs\/free","XAF":"https:\/\/www.exchangerate-api.com\/docs\/free","XCD":"https:\/\/www.exchangerate-api.com\/docs\/free","XDR":"https:\/\/www.exchangerate-api.com\/docs\/free","XOF":"https:\/\/www.exchangerate-api.com\/docs\/free","XPF":"https:\/\/www.exchangerate-api.com\/docs\/free","YER":"https:\/\/www.exchangerate-api.com\/docs\/free","ZAR":"https:\/\/www.exchangerate-api.com\/docs\/free","ZMW":"https:\/\/www.exchangerate-api.com\/docs\/free","ZWL":"https:\/\/www.exchangerate-api.com\/docs\/free"},"terms":{"AED":"https:\/\/www.exchangerate-api.com\/terms","AFN":"https:\/\/www.exchangerate-api.com\/terms","ALL":"https:\/\/www.exchangerate-api.com\/terms","AMD":"https:\/\/www.exchangerate-api.com\/terms","ANG":"https:\/\/www.exchangerate-api.com\/terms","AOA":"https:\/\/www.exchangerate-api.com\/terms","ARS":"https:\/\/www.exchangerate-api.com\/terms","AUD":"https:\/\/www.exchangerate-api.com\/terms","AWG":"https:\/\/www.exchangerate-api.com\/terms","AZN":"https:\/\/www.exchangerate-api.com\/terms","BAM":"https:\/\/www.exchangerate-api.com\/terms","BBD":"https:\/\/www.exchangerate-api.com\/terms","BDT":"https:\/\/www.exchangerate-api.com\/terms","BGN":"https:\/\/www.exchangerate-api.com\/terms","BHD":"https:\/\/www.exchangerate-api.com\/terms","BIF":"https:\/\/www.exchangerate-api.com\/terms","BMD":"https:\/\/www.exchangerate-api.com\/terms","BND":"https:\/\/www.exchangerate-api.com\/terms","BOB":"https:\/\/www.exchangerate-api.com\/terms","BRL":"https:\/\/www.exchangerate-api.com\/terms","BSD":"https:\/\/www.exchangerate-api.com\/terms","BTN":"https:\/\/www.exchangerate-api.com\/terms","BWP":"https:\/\/www.exchangerate-api.com\/terms","BYN":"https:\/\/www.exchangerate-api.com\/terms","BZD":"https:\/\/www.exchangerate-api.com\/terms","CAD":"https:\/\/www.exchangerate-api.com\/terms","CDF":"https:\/\/www.exchangerate-api.com\/terms","CHF":"https:\/\/www.exchangerate-api.com\/terms","CLP":"https:\/\/www.exchangerate-api.com\/terms","CNY":"https:\/\/www.exchangerate-api.com\/terms","COP":"https:\/\/www.exchangerate-api.com\/terms","CRC":"https:\/\/www.exchangerate-api.com\/terms","CUP":"https:\/\/www.exchangerate-api.com\/terms","CVE":"https:\/\/www.exchangerate-api.com\/terms","CZK":"https:\/\/www.exchangerate-api.com\/terms","DJF":"https:\/\/www.exchangerate-api.com\/terms","DKK":"https:\/\/www.exchangerate-api.com\/terms","DOP":"https:\/\/www.exchangerate-api.com\/terms","DZD":"https:\/\/www.exchangerate-api.com\/terms","EGP":"https:\/\/www.exchangerate-api.com\/terms","ERN":"https:\/\/www.exchangerate-api.com\/terms","ETB":"https:\/\/www.exchangerate-api.com\/terms","EUR":"https:\/\/www.exchangerate-api.com\/terms","FJD":"https:\/\/www.exchangerate-api.com\/terms","FKP":"https:\/\/www.exchangerate-api.com\/terms","FOK":"https:\/\/www.exchangerate-api.com\/terms","GBP":"https:\/\/www.exchangerate-api.com\/terms","GEL":"https:\/\/www.exchangerate-api.com\/terms","GGP":"https:\/\/www.exchangerate-api.com\/terms","GHS":"https:\/\/www.exchangerate-api.com\/terms","GIP":"https:\/\/www.exchangerate-api.com\/terms","GMD":"https:\/\/www.exchangerate-api.com\/terms","GNF":"https:\/\/www.exchangerate-api.com\/terms","GTQ":"https:\/\/www.exchangerate-api.com\/terms","GYD":"https:\/\/www.exchangerate-api.com\/terms","HKD":"https:\/\/www.exchangerate-api.com\/terms","HNL":"https:\/\/www.exchangerate-api.com\/terms","HRK":"https:\/\/www.exchangerate-api.com\/terms","HTG":"https:\/\/www.exchangerate-api.com\/terms","HUF":"https:\/\/www.exchangerate-api.com\/terms","IDR":"https:\/\/www.exchangerate-api.com\/terms","ILS":"https:\/\/www.exchangerate-api.com\/terms","IMP":"https:\/\/www.exchangerate-api.com\/terms","INR":"https:\/\/www.exchangerate-api.com\/terms","IQD":"https:\/\/www.exchangerate-api.com\/terms","IRR":"https:\/\/www.exchangerate-api.com\/terms","ISK":"https:\/\/www.exchangerate-api.com\/terms","JEP":"https:\/\/www.exchangerate-api.com\/terms","JMD":"https:\/\/www.exchangerate-api.com\/terms","JOD":"https:\/\/www.exchangerate-api.com\/terms","JPY":"https:\/\/www.exchangerate-api.com\/terms","KES":"https:\/\/www.exchangerate-api.com\/terms","KGS":"https:\/\/www.exchangerate-api.com\/terms","KHR":"https:\/\/www.exchangerate-api.com\/terms","KID":"https:\/\/www.exchangerate-api.com\/terms","KMF":"https:\/\/www.exchangerate-api.com\/terms","KRW":"https:\/\/www.exchangerate-api.com\/terms","KWD":"https:\/\/www.exchangerate-api.com\/terms","KYD":"https:\/\/www.exchangerate-api.com\/terms","KZT":"https:\/\/www.exchangerate-api.com\/terms","LAK":"https:\/\/www.exchangerate-api.com\/terms","LBP":"https:\/\/www.exchangerate-api.com\/terms","LKR":"https:\/\/www.exchangerate-api.com\/terms","LRD":"https:\/\/www.ex

### 퀴즈
- 1) url의 json을 데이타프레임 형태로 저장하여라
    - url = http://jsonplaceholder.typicode.com/users

- 2) 모두 몇명인가?

- 3) 'id', 'name', 'username', 'email', 'phone', 'website' 컬럼만 별도의 데이타프레임으로 저장하여라

In [61]:
url = 'http://jsonplaceholder.typicode.com/users'
df = pd.read_json(url)
df.sample(5)

,id,name,username,email,address,phone,website,company
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."

In [50]:
print(df.shape[0], '명')

10 명

In [65]:
df2 = df[['id', 'name', 'username', 'email', 'phone', 'website']].copy()
df2

,id,name,username,email,phone,website
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net

In [71]:
df.loc[0,'address']

{'street': 'Kulas Light',
 'suite': 'Apt. 556',
 'city': 'Gwenborough',
 'zipcode': '92998-3874',
 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}

In [72]:
df['address'][0]

{'street': 'Kulas Light',
 'suite': 'Apt. 556',
 'city': 'Gwenborough',
 'zipcode': '92998-3874',
 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}

In [87]:
# KeyError
# df['address']['street']
df['address'].str['street']

0          Kulas Light
1        Victor Plains
2    Douglas Extension
3          Hoeger Mall
4         Skiles Walks
5    Norberto Crossing
6            Rex Trail
7     Ellsworth Summit
8           Dayna Park
9      Kattie Turnpike
Name: address, dtype: object

In [92]:
df2['street'] = df['address'].str['street']
df2['suite'] = df['address'].str['suite']
df2['city'] = df['address'].str['city']
df2['zipcode'] = df['address'].str['zipcode']
df2

,id,name,username,email,phone,website,street,suite,city,zipcode
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261

In [93]:
df2['lat'] = df['address'].str['geo'].str['lat']
df2['lng'] = df['address'].str['geo'].str['lng']
df2

,id,name,username,email,phone,website,street,suite,city,zipcode,lat,lng
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232

In [98]:
df['company'][0]

{'name': 'Romaguera-Crona',
 'catchPhrase': 'Multi-layered client-server neural-net',
 'bs': 'harness real-time e-markets'}

In [100]:
df2['company_name'] = df['company'].str['name']
df2['company_catchPhrase'] = df['company'].str['catchPhrase']
df2['company_bs'] = df['company'].str['bs']
df2

,id,name,username,email,phone,website,street,suite,city,zipcode,lat,lng,company_name,company_catchPhrase,company_bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models

In [103]:
df2.to_csv('output/user.csv', index= False)

In [105]:
!type output\user.csv

id,name,username,email,phone,website,street,suite,city,zipcode,lat,lng,company_name,company_catchPhrase,company_bs
1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models