In [1]:
# 쥬피터 노트북 셀 크기 설정 
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; font-weight:bold }</style>"))

# 경고메세지 숨기기
import warnings
warnings.filterwarnings(action='ignore')

C:\Users\pusan\AppData\Local\Temp\ipykernel_24896\2634226238.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
import numpy as np
import pandas as pd
import os

In [ ]:
# JSON +  JOIN

In [ ]:
# 1) 2개의 json 자료를 데이타프레임으로 각각 저장
# 2) 공통 컬럼 파악
# 3) 공통 컬럼과 공통키를 이용하여 조인
# 4) 컬럼과 인덱스명 등 정리
# 5) csv 파일로 저장

In [5]:
# 1) 아래의 2개의 주소를 이용하여 각각 데이타프레임 df_users, df_posts 으로 저장하여라 

url1 = 'http://jsonplaceholder.typicode.com/users'
url2 = 'http://jsonplaceholder.typicode.com/posts'

df_users = pd.read_json(url1)
df_posts = pd.read_json(url2)

In [6]:
df_users.shape, df_posts.shape

((10, 8), (100, 4))

In [7]:
# 2) 공통 컬럼 및 공통키 파악
print(df_users.columns)
print(df_posts.columns)

Index(['id', 'name', 'username', 'email', 'address', 'phone', 'website',
       'company'],
      dtype='object')
Index(['userId', 'id', 'title', 'body'], dtype='object')

In [9]:
df_users['id'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [11]:
df_posts['userId'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [12]:
df_posts['id'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100], dtype=int64)

In [18]:
# 3) 공통 컬럼과 공통키를 이용하여 조인
# df = pd.merge(df_users, df_posts)
# df.shape
df = pd.merge(df_users, df_posts, left_on='id', right_on='userId')
df.shape

(100, 12)

In [19]:
# 4) 컬럼과 인덱스명 등 정리
df.sample(3)

,id_x,name,username,email,address,phone,website,company,userId,id_y,title,body
4,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
40,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",5,41,non est facere,molestias id nostrum\nexcepturi molestiae dolo...
17,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",2,18,voluptate et itaque vero tempora molestiae,eveniet quo quis\nlaborum totam consequatur no...

In [20]:
df.columns

Index(['id_x', 'name', 'username', 'email', 'address', 'phone', 'website',
       'company', 'userId', 'id_y', 'title', 'body'],
      dtype='object')

In [22]:
df2 = df[['userId', 'name', 'username', 'email', 'address', 'id_y', 'title', 'body']]
df2.sample(3)

,userId,name,username,email,address,id_y,title,body
87,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",88,sapiente omnis fugit eos,consequatur omnis est praesentium\nducimus non...
27,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",28,delectus ullam et corporis nulla voluptas sequi,non et quaerat ex quae ad maiores\nmaiores rec...
79,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",80,labore in ex et explicabo corporis aut quas,ex quod dolorem ea eum iure qui provident amet...

In [26]:
# 컬럼명 변경 
df2.rename(columns={'id_y':'post_id'}, inplace=True)
df2.sample(3)

,userId,name,username,email,address,post_id,title,body
25,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",26,est et quae odit qui non,similique esse doloribus nihil accusamus\nomni...
80,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",81,tempora rem veritatis voluptas quo dolores vero,facere qui nesciunt est voluptatum voluptatem ...
73,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",74,enim unde ratione doloribus quas enim ut sit s...,odit qui et et necessitatibus sint veniam\nmol...

In [27]:
# 한개만 address 컬럼 표시 => city 값만 별도 컬ㄹ멍 ㅔ추출
df2.loc[31, 'address']

{'street': 'Hoeger Mall',
 'suite': 'Apt. 692',
 'city': 'South Elvis',
 'zipcode': '53919-4257',
 'geo': {'lat': '29.4572', 'lng': '-164.2990'}}

In [31]:
df2['city'] = df2['address'].str['city']

In [32]:
del df2['address']

In [33]:
df2.sample(3)

,userId,name,username,email,post_id,title,body,city
40,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,41,non est facere,molestias id nostrum\nexcepturi molestiae dolo...,Roscoeview
63,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,64,et fugit quas eum in in aperiam quod,id velit blanditiis\neum ea voluptatem\nmolest...,Howemouth
46,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,47,quibusdam cumque rem aut deserunt,voluptatem assumenda ut qui ut cupiditate aut ...,Roscoeview

In [47]:
# 5) csv 파일로 저장
df2.to_csv('users_post.csv', index=False)

# 무비렌즈 조인

- https://grouplens.org/datasets/movielens/
- movies.dat, ratings.dat, users.dat
- movies.dat (MovieID , Title,  Genres)

```
- Genres
파이프(|)로분리됨
Action
Adventure
Animation
Children’s
Comedy
Crime
Documentary
Drama
Fantasy
Film-Noir
Horror
Musical
Mystery
Romance
Sci-Fi
Thriller
War
Western

- ratings.dat
UserID  MovieID  Rating  Timestamp

UserID는 users의 UserID 참조,
MovieID는 movie의 MovieID 참조.
Rating은 영화 평점. 1-5까지 숫자.
Timestamp는 평점 적은 날짜.

- users.dat
UserID  Gender  Age  Occupation  Zip-code

```

In [ ]:
ls C:\Users\pusan\Desktop\workspace202205\03_DS\data\*.dat

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 629C-402A

 C:\Users\pusan\Desktop\workspace202205\03_DS\data 디렉터리

2016-07-17  오후 09:46           171,308 movies.dat
2018-04-24  오후 07:42        24,594,131 ratings.dat
2016-07-17  오후 09:46           134,368 users.dat
               3개 파일          24,899,807 바이트
               0개 디렉터리  422,219,845,632 바이트 남음

In [58]:
# 1) 각 파일을 데이타프레임으로 저장
df_movies = pd.read_csv('C:/Users/pusan/Desktop/workspace202205/03_DS/data/movies.dat', sep='::', header=None, names=['movieID', 'title', 'genres'])
df_movies.sample(3)

,movieID,title,genres
1984,2053,"Honey, I Blew Up the Kid (1992)",Children's|Comedy|Sci-Fi
2360,2429,Mighty Joe Young (1998),Adventure|Children's|Drama
1840,1909,"X-Files: Fight the Future, The (1998)",Mystery|Sci-Fi|Thriller

In [61]:
df_users = pd.read_csv('C:/Users/pusan/Desktop/workspace202205/03_DS/data/users.dat', sep='::', 
                     header=None, names=[ 'userID', 'gender',  'age',  'occupation',  'zip-code'])
df_users.sample(3)

      userID gender  age  occupation zip-code
3343    3344      M   35           0    08902
1994    1995      M   25           1    85364
5414    5415      F   25           7    03862

In [74]:
# 1) 각 파일을 데이타프레임으로 저장
df_ratings = pd.read_csv('C:/Users/pusan/Desktop/workspace202205/03_DS/data/ratings.dat', sep='::', header=None, names=['userID',  'movieID',  'rating',  'timestamp'])
df_ratings.sample(3)

        userID  movieID  rating  timestamp
453649    2793     1101       5  972941681
603472    3672      316       2  966376968
354083    2073     1302       4  974670912

In [63]:
# 조인

In [75]:
print(df_ratings.columns)
print(df_users.columns)
print(df_movies.columns)

Index(['userID', 'movieID', 'rating', 'timestamp'], dtype='object')
Index(['userID', 'gender', 'age', 'occupation', 'zip-code'], dtype='object')
Index(['movieID', 'title', 'genres'], dtype='object')

In [76]:
# ValueError
# pd.merge(df_movies, df_ratings, df_users)

In [77]:
# df_ratings + df_users => 'userID' 공통컬럼 
df = pd.merge(df_ratings, df_users)
df.columns

Index(['userID', 'movieID', 'rating', 'timestamp', 'gender', 'age',
       'occupation', 'zip-code'],
      dtype='object')

In [78]:
# df(df_ratings + df_users) + df_movies  => 'movieID' 공통컬럼 
df = pd.merge(df, df_movies)
df.columns

Index(['userID', 'movieID', 'rating', 'timestamp', 'gender', 'age',
       'occupation', 'zip-code', 'title', 'genres'],
      dtype='object')

In [79]:
df.sample(3)

,userID,movieID,rating,timestamp,gender,age,occupation,zip-code,title,genres
310124,1246,348,4,975071331,M,18,4,98225,Bullets Over Broadway (1994),Comedy
469924,802,339,3,975397665,M,25,16,22801,While You Were Sleeping (1995),Comedy|Romance
843022,4388,2474,4,965220750,M,45,3,75074,"Color of Money, The (1986)",Drama

In [80]:
 df.shape, df_ratings.shape, df_users.shape, df_movies.shape

((1000209, 10), (1000209, 4), (6040, 5), (3883, 3))

In [88]:
# userID 1의 영화 제목과 영화 개봉 년도, 장르, 소팅 기준(년도)
df[df['userID']==1][['title', 'genres']].sample(3)

                               title                                genres
59344      Dead Poets Society (1989)                                 Drama
14006  Miracle on 34th Street (1947)                                 Drama
28501              Pocahontas (1995)  Animation|Children's|Musical|Romance

In [94]:
# 년도 추출
df_user1['title'].str.split('(').str[1].str[:-1]

0               1975
1725            1996
2250            1964
2886            2000
4201            1998
5904            1987
8222            1959
8926            1983
10278           1937
11041           1939
12759           1991
13819           1958
14006           1947
14386           1986
15859           1965
16741           1980
18472           1999
18914           1942
19503           1990
20183           1988
21674           1998
22832           1996
23270           1985
25853           1993
28157           1998
28501           1995
28883           1982
31152           1997
32698           1996
32771           1995
33428           1998
34073           1999
34504           1997
34973           1992
36324           1998
36814           1996
37204           1998
37339           1950
37916           1999
40375           1995
41626           1995
43703           1988
45033           1989
45685    Lola rennt)
46757           1977
49748           1964
50759           1941
51327           1962
52255           1998
54908           1993
55246           1999
56831           1996
59344           1989
Name: title, dtype: object

In [95]:
# 영화제목 추출
df_user1['title'].str.split('(').str[0]

0                        One Flew Over the Cuckoo's Nest
1725                           James and the Giant Peach
2250                                        My Fair Lady
2886                                     Erin Brockovich
4201                                       Bug's Life, A
5904                                 Princess Bride, The
8222                                             Ben-Hur
8926                                  Christmas Story, A
10278                    Snow White and the Seven Dwarfs
11041                                  Wizard of Oz, The
12759                               Beauty and the Beast
13819                                               Gigi
14006                             Miracle on 34th Street
14386                           Ferris Bueller's Day Off
15859                                Sound of Music, The
16741                                          Airplane!
18472                                             Tarzan
18914                                              Bambi
19503                                         Awakenings
20183                                                Big
21674                                      Pleasantville
22832    Wallace & Gromit: The Best of Aardman Animation
23270                                 Back to the Future
25853                                   Schindler's List
28157                                     Meet Joe Black
28501                                         Pocahontas
28883                         E.T. the Extra-Terrestrial
31152                                            Titanic
32698                                            Ponette
32771                                     Close Shave, A
33428                                               Antz
34073                                  Girl, Interrupted
34504                                           Hercules
34973                                            Aladdin
36324                                              Mulan
36814                       Hunchback of Notre Dame, The
37204                            Last Days of Disco, The
37339                                         Cinderella
37916                                   Sixth Sense, The
40375                                          Apollo 13
41626                                          Toy Story
43703                                           Rain Man
45033                                 Driving Miss Daisy
45685                                       Run Lola Run
46757                 Star Wars: Episode IV - A New Hope
49748                                       Mary Poppins
50759                                              Dumbo
51327                              To Kill a Mockingbird
52255                                Saving Private Ryan
54908                                 Secret Garden, The
55246                                        Toy Story 2
56831                                              Fargo
59344                                 Dead Poets Society
Name: title, dtype: object

In [96]:
df_user1 = df[df['userID']==1].copy()
# title을 영화제목과 년도로 분리
df_user1['year'] = df_user1['title'].str.split('(').str[1].str[:-1]
df_user1['title'] = df_user1['title'].str.split('(').str[0]
df_user1.head()

,userID,movieID,rating,timestamp,gender,age,occupation,zip-code,title,genres,year
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest,Drama,1975
1725,1,661,3,978302109,F,1,10,48067,James and the Giant Peach,Animation|Children's|Musical,1996
2250,1,914,3,978301968,F,1,10,48067,My Fair Lady,Musical|Romance,1964
2886,1,3408,4,978300275,F,1,10,48067,Erin Brockovich,Drama,2000
4201,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A",Animation|Children's|Comedy,1998

In [98]:
df_user1.sort_values(by='year', inplace=True)

In [100]:
df_user1.sample(3)

,userID,movieID,rating,timestamp,gender,age,occupation,zip-code,title,genres,year
36814,1,783,4,978824291,F,1,10,48067,"Hunchback of Notre Dame, The",Animation|Children's|Musical,1996
32771,1,745,3,978824268,F,1,10,48067,"Close Shave, A",Animation|Comedy|Thriller,1995
2886,1,3408,4,978300275,F,1,10,48067,Erin Brockovich,Drama,2000

In [104]:
# userID 1의 액션 장르만 - 소팅 기준 (년도)
df_user1[df_user1['genres'].str.contains('Action')]

,userID,movieID,rating,timestamp,gender,age,occupation,zip-code,title,genres,year
8222,1,1287,5,978302039,F,1,10,48067,Ben-Hur,Action|Adventure|Drama,1959
46757,1,260,4,978300760,F,1,10,48067,Star Wars: Episode IV - A New Hope,Action|Adventure|Fantasy|Sci-Fi,1977
5904,1,1197,3,978302268,F,1,10,48067,"Princess Bride, The",Action|Adventure|Comedy|Romance,1987
52255,1,2028,5,978301619,F,1,10,48067,Saving Private Ryan,Action|Drama|War,1998
45685,1,2692,4,978301570,F,1,10,48067,Run Lola Run,Action|Crime|Romance,Lola rennt)

In [83]:
# 남녀별 평점이 가장 낮은 영화 데이타 정보만 출력하기

In [108]:
df['rating'].unique(), df['gender'].unique()

(array([5, 4, 3, 2, 1], dtype=int64), array(['F', 'M'], dtype=object))

In [112]:
# 남녀별 가장 낮은 평점
df[df['gender']== 'M']['rating'].min(), df[df['gender']== 'F']['rating'].min(),

(1, 1)

In [114]:
# 남녀별 데이타프레임 저장 (평점이 가장낮다. 장르가 Adventure)
df_male = df[df['gender']== 'M'].copy()
df_female = df[df['gender']== 'F'].copy()
df_male.shape, df_female.shape

((753769, 10), (246440, 10))

In [117]:
df_male[(df_male['rating']==df_male['rating'].min()) & (df_male['genres'].str.contains('Adventure'))]

,userID,movieID,rating,timestamp,gender,age,occupation,zip-code,title,genres
5947,136,1197,1,977421777,M,18,2,21202,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
6358,1211,1197,1,974843700,M,18,4,10027,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
6419,1358,1197,1,974771018,M,35,17,49508,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
6513,1624,1197,1,974724050,M,25,0,06810,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
6652,2024,1197,1,974672067,M,1,19,06614,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
...,...,...,...,...,...,...,...,...,...,...
999433,1181,1849,1,976148404,M,35,7,20716,Prince Valiant (1997),Adventure
999748,1470,3166,1,974836551,M,18,4,94118,Brenda Starr (1989),Adventure
999749,1676,3166,1,974851550,M,18,4,91301,Brenda Starr (1989),Adventure
999750,2015,3166,1,1020387096,M,18,4,01003,Brenda Starr (1989),Adventure
999751,4422,3166,1,965154503,M,25,5,10463,Brenda Starr (1989),Adventure

In [120]:
# 남자 + 평점이 가장 낮다 + Adventure
df_male[(df_male['rating']==df_male['rating'].min()) & (df_male['genres'].str.contains('Adventure'))]['title'].unique()

array(['Princess Bride, The (1987)', 'Ben-Hur (1959)',
       'Wizard of Oz, The (1939)', 'Hercules (1997)',
       'Star Wars: Episode IV - A New Hope (1977)',
       'Mission: Impossible (1996)',
       'Star Wars: Episode I - The Phantom Menace (1999)',
       'Total Recall (1990)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Cliffhanger (1993)', 'Stand by Me (1986)',
       'Lost World: Jurassic Park, The (1997)', 'Starman (1984)',
       'Jurassic Park (1993)',
       'Star Trek VI: The Undiscovered Country (1991)',
       'Dances with Wolves (1990)',
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Con Air (1997)', 'Twister (1996)',
       'Raiders of the Lost Ark (1981)', 'Armageddon (1998)',
       'True Lies (1994)', 'Clear and Present Danger (1994)',
       'Mask of Zorro, The (1998)', 'Golden Child, The (1986)',
       'Edge, The (1997)', 'Indiana Jones and the Last Crusade (1989)',
       'Dragonheart (1996)', 'Blade (1998)', 'Men in Black (1997)',
       'Ghost and the Darkness, The (1996)',
       'Evil Dead II (Dead By Dawn) (1987)',
       'Three Musketeers, The (1993)', 'Rock, The (1996)',
       'Crocodile Dundee (1986)', 'Easy Rider (1969)',
       'Mummy, The (1999)', 'Deliverance (1972)',
       'Indiana Jones and the Temple of Doom (1984)', 'King Kong (1933)',
       'Who Framed Roger Rabbit? (1988)', 'Abyss, The (1989)',
       'Mystery Men (1999)', 'Poseidon Adventure, The (1972)',
       'City of Lost Children, The (1995)', 'Romancing the Stone (1984)',
       "Pete's Dragon (1977)", 'Paulie (1998)', 'Mighty Joe Young (1998)',
       'Akira (1988)', 'Star Trek: First Contact (1996)',
       'Perfect Storm, The (2000)', 'Honey, I Shrunk the Kids (1989)',
       'Treasure of the Sierra Madre, The (1948)', 'Jumanji (1995)',
       'Batman Forever (1995)', 'Adventures in Babysitting (1987)',
       'Doctor Dolittle (1967)', 'Superman (1978)', 'Batman (1989)',
       'Journey of Natty Gann, The (1985)', 'Stargate (1994)',
       'Star Trek: Generations (1994)', 'NeverEnding Story, The (1984)',
       'Return to Oz (1985)', 'Rocketeer, The (1991)',
       'Escape to Witch Mountain (1975)',
       'Star Trek: The Motion Picture (1979)',
       'Star Trek: The Wrath of Khan (1982)',
       'Star Trek III: The Search for Spock (1984)',
       'Star Trek IV: The Voyage Home (1986)', 'Batman Returns (1992)',
       'Homeward Bound: The Incredible Journey (1993)',
       '20,000 Leagues Under the Sea (1954)', 'Hook (1991)',
       'Labyrinth (1986)', 'Jewel of the Nile, The (1985)',
       'Willow (1988)', 'Bedknobs and Broomsticks (1971)',
       '7th Voyage of Sinbad, The (1958)', 'Escape from New York (1981)',
       'Goonies, The (1985)', 'Lawrence of Arabia (1962)',
       'African Queen, The (1951)', 'Galaxy Quest (1999)',
       'Army of Darkness (1993)',
       'Willy Wonka and the Chocolate Factory (1971)',
       'Time Bandits (1981)', 'Santa Claus: The Movie (1985)',
       'Tron (1982)', 'Starship Troopers (1997)', 'Waterworld (1995)',
       'Condorman (1981)', "Darby O'Gill and the Little People (1959)",
       'Flight of the Navigator (1986)', 'Almost Heroes (1998)',
       'Fly Away Home (1996)', 'Man Who Would Be King, The (1975)',
       'Superman II (1980)', 'Quest for Fire (1981)', 'Ladyhawke (1985)',
       'GoldenEye (1995)', 'Medicine Man (1992)', 'True Grit (1969)',
       'Black Beauty (1994)',
       'Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984)',
       'Young Sherlock Holmes (1985)',
       'Around the World in 80 Days (1956)',
       'Indian in the Cupboard, The (1995)', 'Titan A.E. (2000)',
       'Big Blue, The (Le Grand Bleu) (1988)', "Logan's Run (1976)",
       'Conan the Barbarian (1982)', 'Forever Young (1992)',
       'Crimson Pirate, The (1952)', 'Congo (1995)',
       'Lord of the Flies (1963)',
       'Superman IV: The Quest for Peace (1987)',
       'Inspector Gadget (1999)', 'Sphere (1998)',
       'Navigator: A Mediaeval Odyssey, The (1988)', 'War, The (1994)',
       'Heavy Metal (1981)', 'Fantastic Voyage (1966)',
       'Lord of the Rings, The (1978)', 'Casper (1995)',
       'Supergirl (1984)', 'First Knight (1995)', 'Legend (1985)',
       'Highlander: Endgame (2000)', 'Highlander (1986)',
       'Avengers, The (1998)', 'Bird on a Wire (1990)',
       'Kull the Conqueror (1997)', 'Mortal Kombat (1995)',
       'Adventures of Robin Hood, The (1938)',
       'Karate Kid, Part II, The (1986)', 'Karate Kid III, The (1989)',
       'Batman & Robin (1997)', 'Anaconda (1997)', 'Red Sonja (1985)',
       'Super Mario Bros. (1993)', 'Howard the Duck (1986)',
       'White Squall (1996)', 'Running Man, The (1987)', 'Spawn (1997)',
       'Star Trek V: The Final Frontier (1989)', 'King Kong (1976)',
       'Tall Tale (1994)',
       'Princess Mononoke, The (Mononoke Hime) (1997)',
       'Judge Dredd (1995)', 'Escape from L.A. (1996)',
       'Nothing But Trouble (1991)', 'Daylight (1996)',
       'Rumble in the Bronx (1995)', 'Superman III (1983)',
       'Barbarella (1968)', 'Midnight Run (1988)', 'Soldier (1998)',
       'Dreamscape (1984)', 'Quick and the Dead, The (1995)',
       'Operation Dumbo Drop (1995)', 'Space Jam (1996)',
       'Free Willy (1993)',
       'Homeward Bound II: Lost in San Francisco (1996)',
       'Blue Lagoon, The (1980)', 'Where Eagles Dare (1969)',
       'Old Man and the Sea, The (1958)', 'Swiss Family Robinson (1960)',
       'Runaway Train (1985)', 'Crocodile Dundee II (1988)',
       'Popeye (1980)', 'Godzilla 2000 (Gojira ni-sen mireniamu) (1999)',
       'Six Days Seven Nights (1998)',
       "Kid in King Arthur's Court, A (1995)",
       'Allan Quartermain and the Lost City of Gold (1987)',
       'Mighty Joe Young (1949)', 'For Whom the Bell Tolls (1943)',
       'Captain Horatio Hornblower (1951)',
       'Beyond the Poseidon Adventure (1979)', 'Bear, The (1988)',
       'Sinbad and the Eye of the Tiger (1977)',
       'Slipper and the Rose, The (1976)',
       'Muppet Treasure Island (1996)',
       'Golden Voyage of Sinbad, The (1974)', 'Candleshoe (1977)',
       'Herbie Goes Bananas (1980)', 'Jingle All the Way (1996)',
       'Chain Reaction (1996)', 'Mutiny on the Bounty (1935)',
       'Cutthroat Island (1995)', 'Herbie Rides Again (1974)',
       'Voyage to the Bottom of the Sea (1961)',
       'Shanghai Surprise (1986)',
       'NeverEnding Story II: The Next Chapter, The (1990)',
       'NeverEnding Story III, The (1994)', 'Beach, The (2000)',
       'Borrowers, The (1997)', 'Saturn 3 (1979)', 'Benji (1974)',
       'Incredible Journey, The (1963)', 'My Science Project (1985)',
       'Secret Adventures of Tom Thumb, The (1993)', 'Supernova (2000)',
       'Tom and Huck (1995)', 'Maximum Risk (1996)',
       'Operation Condor (Feiying gaiwak) (1990)', 'Hard Target (1993)',
       'Quest, The (1996)', 'Andre (1994)', 'Buddy (1997)',
       'Turbo: A Power Rangers Movie (1997)', 'Wild America (1997)',
       'Amazing Panda Adventure, The (1995)',
       'Far From Home: The Adventures of Yellow Dog (1995)',
       'Free Willy 2: The Adventure Home (1995)',
       'Jungle Book, The (1994)', "Gulliver's Travels (1939)",
       'Pagemaster, The (1994)', 'Flipper (1996)',
       'Mark of Zorro, The (1940)',
       'Gold Diggers: The Secret of Bear Mountain (1995)',
       'Operation Condor 2 (Longxiong hudi) (1990)',
       'Excess Baggage (1997)', 'Free Willy 3: The Rescue (1997)',
       'Star Kid (1997)', 'Quest for Camelot (1998)',
       'Mortal Kombat: Annihilation (1997)', 'Song of the South (1946)',
       'King Kong Lives (1986)', "Let's Get Harry (1986)",
       'Bronco Billy (1980)', 'Alaska (1996)',
       'Great Locomotive Chase, The (1956)', 'Fled (1996)',
       'Firestorm (1998)', 'Baby... Secret of the Lost Legend (1985)',
       'Benji the Hunted (1987)', 'For the Love of Benji (1977)',
       'Phantom, The (1996)', 'Surviving the Game (1994)',
       'Mighty Peking Man (Hsing hsing wang) (1977)',
       'Tarzan and the Lost City (1998)', 'Digimon: The Movie (2000)',
       'Herbie Goes to Monte Carlo (1977)', 'Tarzan the Fearless (1933)',
       'Firewalker (1986)', 'Charlie, the Lonesome Cougar (1967)',
       "Barney's Great Adventure (1998)", 'Lassie (1994)',
       'Warriors of Virtue (1997)', 'Vibes (1988)',
       'Adventures of Pinocchio, The (1996)',
       'Second Jungle Book: Mowgli & Baloo, The (1997)',
       'Six-String Samurai (1998)', 'Time Tracers (1995)',
       'Kids of the Round Table (1995)', 'Good Man in Africa, A (1994)',
       'In Search of the Castaways (1962)', 'Knightriders (1981)',
       'Golden Earrings (1947)', 'Garbage Pail Kids Movie, The (1987)',
       'Prince Valiant (1997)', 'Brenda Starr (1989)'], dtype=object)

In [121]:
# 여자 + 평점이 가장 낮다 + Adventure
df_female[(df_female['rating']==df_female['rating'].min()) & (df_female['genres'].str.contains('Adventure'))]['title'].unique()

array(['Princess Bride, The (1987)', 'Wizard of Oz, The (1939)',
       'Hercules (1997)', 'Star Wars: Episode IV - A New Hope (1977)',
       'Mission: Impossible (1996)',
       'Star Wars: Episode I - The Phantom Menace (1999)',
       'Total Recall (1990)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Cliffhanger (1993)', 'Lost World: Jurassic Park, The (1997)',
       'Starman (1984)', 'Jurassic Park (1993)',
       'Star Trek VI: The Undiscovered Country (1991)',
       'Dances with Wolves (1990)',
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Con Air (1997)', 'Twister (1996)',
       'Raiders of the Lost Ark (1981)', 'Armageddon (1998)',
       'True Lies (1994)', 'Clear and Present Danger (1994)',
       'Mask of Zorro, The (1998)', 'Golden Child, The (1986)',
       'Edge, The (1997)', 'Indiana Jones and the Last Crusade (1989)',
       'Dragonheart (1996)', 'Blade (1998)', 'Men in Black (1997)',
       'Ghost and the Darkness, The (1996)',
       'Evil Dead II (Dead By Dawn) (1987)',
       'Three Musketeers, The (1993)', 'Rock, The (1996)',
       'Crocodile Dundee (1986)', 'Easy Rider (1969)',
       'Mummy, The (1999)', 'Deliverance (1972)',
       'Indiana Jones and the Temple of Doom (1984)', 'King Kong (1933)',
       'Who Framed Roger Rabbit? (1988)', 'Abyss, The (1989)',
       'Mystery Men (1999)', 'Poseidon Adventure, The (1972)',
       'City of Lost Children, The (1995)', 'Romancing the Stone (1984)',
       "Pete's Dragon (1977)", 'Paulie (1998)', 'Mighty Joe Young (1998)',
       'Akira (1988)', 'Star Trek: First Contact (1996)',
       'Perfect Storm, The (2000)', 'Honey, I Shrunk the Kids (1989)',
       'Treasure of the Sierra Madre, The (1948)', 'Jumanji (1995)',
       'Batman Forever (1995)', 'Adventures in Babysitting (1987)',
       'Doctor Dolittle (1967)', 'Superman (1978)', 'Batman (1989)',
       'Stargate (1994)', 'Star Trek: Generations (1994)',
       'NeverEnding Story, The (1984)', 'Return to Oz (1985)',
       'Rocketeer, The (1991)', 'Escape to Witch Mountain (1975)',
       'Star Trek: The Motion Picture (1979)',
       'Star Trek: The Wrath of Khan (1982)',
       'Star Trek III: The Search for Spock (1984)',
       'Star Trek IV: The Voyage Home (1986)', 'Batman Returns (1992)',
       'Homeward Bound: The Incredible Journey (1993)',
       '20,000 Leagues Under the Sea (1954)', 'Hook (1991)',
       'Labyrinth (1986)', 'Willow (1988)',
       'Bedknobs and Broomsticks (1971)',
       '7th Voyage of Sinbad, The (1958)', 'Escape from New York (1981)',
       'Goonies, The (1985)', 'Lawrence of Arabia (1962)',
       'African Queen, The (1951)', 'Galaxy Quest (1999)',
       'Army of Darkness (1993)',
       'Willy Wonka and the Chocolate Factory (1971)',
       'Time Bandits (1981)', 'Santa Claus: The Movie (1985)',
       'Tron (1982)', 'Starship Troopers (1997)', 'Waterworld (1995)',
       'Condorman (1981)', "Darby O'Gill and the Little People (1959)",
       'Far Off Place, A (1993)', 'Flight of the Navigator (1986)',
       'Almost Heroes (1998)', 'Fly Away Home (1996)',
       'Superman II (1980)', 'Quest for Fire (1981)', 'Ladyhawke (1985)',
       'GoldenEye (1995)', 'Medicine Man (1992)',
       'Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984)',
       'Young Sherlock Holmes (1985)',
       'Around the World in 80 Days (1956)',
       'Indian in the Cupboard, The (1995)', 'Titan A.E. (2000)',
       'Emerald Forest, The (1985)',
       'Big Blue, The (Le Grand Bleu) (1988)', "Logan's Run (1976)",
       'Conan the Barbarian (1982)', 'Forever Young (1992)',
       'Congo (1995)', 'Lord of the Flies (1963)',
       'Superman IV: The Quest for Peace (1987)',
       'Inspector Gadget (1999)', 'Sphere (1998)',
       'Navigator: A Mediaeval Odyssey, The (1988)', 'Heavy Metal (1981)',
       'Lord of the Rings, The (1978)', 'Casper (1995)',
       'Supergirl (1984)', 'First Knight (1995)', 'Legend (1985)',
       'Highlander: Endgame (2000)', 'Highlander (1986)',
       'Avengers, The (1998)', 'Bird on a Wire (1990)',
       'Kull the Conqueror (1997)', 'Mortal Kombat (1995)',
       'Karate Kid, Part II, The (1986)', 'Karate Kid III, The (1989)',
       'Batman & Robin (1997)', 'Anaconda (1997)', 'Red Sonja (1985)',
       'Super Mario Bros. (1993)', 'Howard the Duck (1986)',
       'White Squall (1996)', 'Running Man, The (1987)', 'Spawn (1997)',
       'Star Trek V: The Final Frontier (1989)', 'King Kong (1976)',
       'Princess Mononoke, The (Mononoke Hime) (1997)',
       'Judge Dredd (1995)', 'Escape from L.A. (1996)',
       'Nothing But Trouble (1991)', 'Daylight (1996)',
       'Rumble in the Bronx (1995)', 'Superman III (1983)',
       'Barbarella (1968)', 'Midnight Run (1988)', 'Soldier (1998)',
       'Quick and the Dead, The (1995)', 'Operation Dumbo Drop (1995)',
       'Space Jam (1996)', 'Free Willy (1993)',
       'Homeward Bound II: Lost in San Francisco (1996)',
       'Blue Lagoon, The (1980)', 'Where Eagles Dare (1969)',
       'Old Man and the Sea, The (1958)', 'Swiss Family Robinson (1960)',
       'Runaway Train (1985)', 'Crocodile Dundee II (1988)',
       'Popeye (1980)', 'Godzilla 2000 (Gojira ni-sen mireniamu) (1999)',
       'Six Days Seven Nights (1998)',
       "Kid in King Arthur's Court, A (1995)",
       'Allan Quartermain and the Lost City of Gold (1987)',
       'Mighty Joe Young (1949)', 'For Whom the Bell Tolls (1943)',
       'Captain Horatio Hornblower (1951)',
       'Beyond the Poseidon Adventure (1979)', 'Bear, The (1988)',
       'Sinbad and the Eye of the Tiger (1977)',
       'Muppet Treasure Island (1996)', 'Herbie Goes Bananas (1980)',
       'Jingle All the Way (1996)', 'Chain Reaction (1996)',
       'Cutthroat Island (1995)', 'Herbie Rides Again (1974)',
       'Shanghai Surprise (1986)',
       'NeverEnding Story II: The Next Chapter, The (1990)',
       'NeverEnding Story III, The (1994)', 'Beach, The (2000)',
       'Borrowers, The (1997)', 'Saturn 3 (1979)', 'Benji (1974)',
       'Incredible Journey, The (1963)', 'My Science Project (1985)',
       'Supernova (2000)', 'Tom and Huck (1995)', 'Maximum Risk (1996)',
       'Hard Target (1993)', 'Quest, The (1996)', 'Andre (1994)',
       'Turbo: A Power Rangers Movie (1997)',
       'Far From Home: The Adventures of Yellow Dog (1995)',
       'Free Willy 2: The Adventure Home (1995)',
       'Jungle Book, The (1994)', "Gulliver's Travels (1939)",
       'Pagemaster, The (1994)', 'Flipper (1996)',
       'Gold Diggers: The Secret of Bear Mountain (1995)',
       'Excess Baggage (1997)', 'Free Willy 3: The Rescue (1997)',
       'Star Kid (1997)', 'Quest for Camelot (1998)',
       'Mortal Kombat: Annihilation (1997)', 'Song of the South (1946)',
       'King Kong Lives (1986)', "Let's Get Harry (1986)",
       'Bronco Billy (1980)', 'Dersu Uzala (1974)', 'Fled (1996)',
       'Firestorm (1998)', 'Baby... Secret of the Lost Legend (1985)',
       'Benji the Hunted (1987)', 'For the Love of Benji (1977)',
       'Phantom, The (1996)', 'Surviving the Game (1994)',
       'Tarzan and the Lost City (1998)', 'Digimon: The Movie (2000)',
       'Herbie Goes to Monte Carlo (1977)', 'Firewalker (1986)',
       "Barney's Great Adventure (1998)", 'Lassie (1994)',
       'Warriors of Virtue (1997)', 'Vibes (1988)',
       'Six-String Samurai (1998)', 'Kids of the Round Table (1995)',
       'Good Man in Africa, A (1994)', 'Passion in the Desert (1998)',
       'Garbage Pail Kids Movie, The (1987)',
       'Son of the Sheik, The (1926)', 'Brenda Starr (1989)',
       'Cheetah (1989)'], dtype=object)

### 퀴즈
- 1) ratings.dat, users.dat, movies.dat 파일을 하나의 데이타프레임(df)로 공통 컬럼과 공통 키값을 이용하여 조인하여라. 
- 이때 df의 컬럼은 ['userID', 'gender', 'age', 'occupation', 'movieID', 'title', 'genres', 'rating'] 으로 제한한다

In [5]:
# 1) 각 파일을 데이타프레임으로 저장
df_movies = pd.read_csv('C:/Users/pusan/Desktop/workspace202205/03_DS/data/movies.dat', sep='::', header=None, names=['movieID', 'title', 'genres'])
df_movies.sample(3)

      movieID             title                       genres
0           1  Toy Story (1995)  Animation|Children's|Comedy
3793     3863  Cell, The (2000)              Sci-Fi|Thriller
3314     3383  Big Fella (1937)                Drama|Musical

In [6]:
df_users = pd.read_csv('C:/Users/pusan/Desktop/workspace202205/03_DS/data/users.dat', sep='::', 
                     header=None, names=[ 'userID', 'gender',  'age',  'occupation',  'zip-code'])
df_users.sample(3)

      userID gender  age  occupation zip-code
4612    4613      M   25          12    41042
1347    1348      F    1          10    04240
3340    3341      M   25          20    91730

In [7]:
# 1) 각 파일을 데이타프레임으로 저장
df_ratings = pd.read_csv('C:/Users/pusan/Desktop/workspace202205/03_DS/data/ratings.dat', sep='::', header=None, names=['userID',  'movieID',  'rating',  'timestamp'])
df_ratings.sample(3)

        userID  movieID  rating  timestamp
370423    2166      765       3  974614044
794369    4750     3505       4  963534101
930803    5622     2243       3  959097312

In [8]:
# 조인

In [9]:
print(df_ratings.columns)
print(df_users.columns)
print(df_movies.columns)

Index(['userID', 'movieID', 'rating', 'timestamp'], dtype='object')
Index(['userID', 'gender', 'age', 'occupation', 'zip-code'], dtype='object')
Index(['movieID', 'title', 'genres'], dtype='object')

In [10]:
# df_ratings + df_users => 'userID' 공통컬럼 
df = pd.merge(df_ratings, df_users)
df.columns

Index(['userID', 'movieID', 'rating', 'timestamp', 'gender', 'age',
       'occupation', 'zip-code'],
      dtype='object')

In [11]:
# df(df_ratings + df_users) + df_movies  => 'movieID' 공통컬럼 
df = pd.merge(df, df_movies)
df.columns

Index(['userID', 'movieID', 'rating', 'timestamp', 'gender', 'age',
       'occupation', 'zip-code', 'title', 'genres'],
      dtype='object')

In [12]:
df = df[['userID', 'gender', 'age', 'occupation', 'movieID', 'title', 'genres', 'rating']]

In [13]:
df.sample(3)

,userID,gender,age,occupation,movieID,title,genres,rating
63678,1989,M,50,6,648,Mission: Impossible (1996),Action|Adventure|Mystery,4
54488,5054,M,35,2,2028,Saving Private Ryan (1998),Action|Drama|War,4
88870,3706,M,25,12,1259,Stand by Me (1986),Adventure|Comedy|Drama,5

In [14]:
# 2) 50대 이상이 본 영화의 평점 평균은?

In [15]:
round(df[df['age']>=50]['rating'].mean(),3)

3.733

In [16]:
# 3) 50대 이상이 본 영화중에서 Comedy 장르이고 1998년도 영화목록만 중복없이 출력하여라

In [17]:
df['title'].str.split('(').str[1].str[:-1]=='1998'

0          False
1          False
2          False
3          False
4          False
           ...
1000204     True
1000205     True
1000206    False
1000207    False
1000208     True
Name: title, Length: 1000209, dtype: bool

In [18]:
df[(df['age']>=50) & (df['genres'].str.contains('Comedy') & (df['title'].str.split('(').str[1].str[:-1]=='1998'))]['title'].unique()

array(["Bug's Life, A (1998)", 'Pleasantville (1998)',
       'Waking Ned Devine (1998)', 'Shakespeare in Love (1998)',
       'Pecker (1998)', "There's Something About Mary (1998)",
       'Babe: Pig in the City (1998)', 'Happiness (1998)',
       'Big Lebowski, The (1998)', 'Little Voice (1998)',
       'Rushmore (1998)', 'Fear and Loathing in Las Vegas (1998)',
       'Opposite of Sex, The (1998)', 'Paulie (1998)',
       'Buffalo 66 (1998)', 'Wedding Singer, The (1998)',
       'Lethal Weapon 4 (1998)', "You've Got Mail (1998)",
       'Patch Adams (1998)', 'Holy Man (1998)',
       'Adventures of Sebastian Cole, The (1998)', 'Waterboy, The (1998)',
       'Bulworth (1998)', 'Very Bad Things (1998)',
       'Doctor Dolittle (1998)', 'Jack Frost (1998)',
       'Lock, Stock & Two Smoking Barrels (1998)',
       'Blues Brothers 2000 (1998)', 'Dirty Work (1998)',
       'Night at the Roxbury, A (1998)', 'Zero Effect (1998)',
       'Hope Floats (1998)', "Can't Hardly Wait (1998)",
       'Next Stop, Wonderland (1998)', 'Living Out Loud (1998)',
       'Home Fries (1998)', 'Slums of Beverly Hills, The (1998)',
       'Six Days Seven Nights (1998)', 'Mafia! (1998)',
       'Free Enterprise (1998)', 'Object of My Affection, The (1998)',
       '20 Dates (1998)', 'Smoke Signals (1998)', 'Little City (1998)',
       "I'll Be Home For Christmas (1998)",
       'Theory of Flight, The (1998)', 'Celebrity (1998)',
       'Dog Park (1998)', 'Air Bud: Golden Receiver (1998)',
       'Polish Wedding (1998)', 'SLC Punk! (1998)',
       'Mating Habits of the Earthbound Human, The (1998)',
       'Madeline (1998)', 'Wrongfully Accused (1998)',
       'Rugrats Movie, The (1998)', "God Said 'Ha!' (1998)",
       'BASEketball (1998)', 'Dead Man on Campus (1998)',
       'Homegrown (1998)', "Krippendorf's Tribe (1998)",
       'My Son the Fanatic (1998)', 'Edge of Seventeen (1998)',
       'Still Crazy (1998)', 'Cousin Bette (1998)',
       'Impostors, The (1998)', 'Wide Awake (1998)',
       'Big Hit, The (1998)', 'Stiff Upper Lips (1998)',
       'Senseless (1998)', 'Kissing a Fool (1998)', 'My Giant (1998)',
       'Major League: Back to the Minors (1998)',
       'Dancer, Texas Pop. 81 (1998)', "Relax... It's Just Sex (1998)",
       'Chairman of the Board (1998)', 'Illuminata (1998)',
       'Velocity of Gary, The (1998)', 'Bedrooms & Hallways (1998)',
       'Odd Couple II, The (1998)',
       'Blood, Guts, Bullets and Octane (1998)',
       'Very Thought of You, The (1998)', 'Frogs for Snakes (1998)',
       'Montana (1998)', 'Twice Upon a Yesterday (1998)', 'Woo (1998)',
       'Follow the Bitch (1998)', 'With Friends Like These... (1998)'],
      dtype=object)

In [19]:
df[(df['age']>=50) & (df['genres'].str.contains('Comedy') & (df['title'].str.split('(').str[1].str[:-1]=='1998'))]['title'].str.split('(').str[0].unique()

array(["Bug's Life, A ", 'Pleasantville ', 'Waking Ned Devine ',
       'Shakespeare in Love ', 'Pecker ', "There's Something About Mary ",
       'Babe: Pig in the City ', 'Happiness ', 'Big Lebowski, The ',
       'Little Voice ', 'Rushmore ', 'Fear and Loathing in Las Vegas ',
       'Opposite of Sex, The ', 'Paulie ', 'Buffalo 66 ',
       'Wedding Singer, The ', 'Lethal Weapon 4 ', "You've Got Mail ",
       'Patch Adams ', 'Holy Man ', 'Adventures of Sebastian Cole, The ',
       'Waterboy, The ', 'Bulworth ', 'Very Bad Things ',
       'Doctor Dolittle ', 'Jack Frost ',
       'Lock, Stock & Two Smoking Barrels ', 'Blues Brothers 2000 ',
       'Dirty Work ', 'Night at the Roxbury, A ', 'Zero Effect ',
       'Hope Floats ', "Can't Hardly Wait ", 'Next Stop, Wonderland ',
       'Living Out Loud ', 'Home Fries ', 'Slums of Beverly Hills, The ',
       'Six Days Seven Nights ', 'Mafia! ', 'Free Enterprise ',
       'Object of My Affection, The ', '20 Dates ', 'Smoke Signals ',
       'Little City ', "I'll Be Home For Christmas ",
       'Theory of Flight, The ', 'Celebrity ', 'Dog Park ',
       'Air Bud: Golden Receiver ', 'Polish Wedding ', 'SLC Punk! ',
       'Mating Habits of the Earthbound Human, The ', 'Madeline ',
       'Wrongfully Accused ', 'Rugrats Movie, The ', "God Said 'Ha!' ",
       'BASEketball ', 'Dead Man on Campus ', 'Homegrown ',
       "Krippendorf's Tribe ", 'My Son the Fanatic ',
       'Edge of Seventeen ', 'Still Crazy ', 'Cousin Bette ',
       'Impostors, The ', 'Wide Awake ', 'Big Hit, The ',
       'Stiff Upper Lips ', 'Senseless ', 'Kissing a Fool ', 'My Giant ',
       'Major League: Back to the Minors ', 'Dancer, Texas Pop. 81 ',
       "Relax... It's Just Sex ", 'Chairman of the Board ', 'Illuminata ',
       'Velocity of Gary, The ', 'Bedrooms & Hallways ',
       'Odd Couple II, The ', 'Blood, Guts, Bullets and Octane ',
       'Very Thought of You, The ', 'Frogs for Snakes ', 'Montana ',
       'Twice Upon a Yesterday ', 'Woo ', 'Follow the Bitch ',
       'With Friends Like These... '], dtype=object)