In [1]:
# 쥬피터노트북 셀 스타일 조절 
from IPython.core.display import display, HTML
display(HTML("<style>.container { font-weight: bold !important; }</style>"))
display(HTML("<style>.container { width: 100% !important; }</style>"))

# 경고 메세지 숨기기 
import warnings
warnings.filterwarnings(action='ignore')

C:\Users\pusan\AppData\Local\Temp\ipykernel_21200\829985655.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
import pandas as pd
import numpy as np
import os

### Q1
```
아래의 CSV 파일을 df_weather 데이타프레임으로 생성하여라. 
이때 컬럼은 일시, 평균기온, 최고기온, 최저기온 으로만 한다 

기상온도_서울202012.csv

pd.read_csv('data/기상온도_서울202012.csv', encoding='cp949', usecols=[2, 3, 5, 8])
```

In [3]:
ls data\기*.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 629C-402A

 C:\Users\pusan\Desktop\workspace202205\03_DS\data 디렉터리

2020-12-27  오후 11:31            93,517 기상온도_서울202012.csv
2020-12-28  오전 01:59            29,386 기상온도_전국202012.csv
               2개 파일             122,903 바이트
               0개 디렉터리  422,978,646,016 바이트 남음

### Q2
df_weather 데이타프레임에서 결측값이 각 컬럼별로 몇개가 있는지 출력하여라

In [4]:
df_weather = pd.read_csv('data/기상온도_서울202012.csv', encoding='cp949',usecols=[2, 3, 5, 8])
df_weather.shape

(1353, 4)

In [5]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   일시       1345 non-null   object
 1   평균기온(℃)  1320 non-null   float64
 2   최고기온(℃)  1320 non-null   float64
 3   최저기온(℃)  1320 non-null   float64
dtypes: float64(3), object(1)
memory usage: 42.4+ KB

### Q7
df_weather 데이타프레임에서 아래의 조건식을 이용하여 1988년도 데이타만 별도 데이타프레임 df_weather_1988 로 저장하여라

df_weather['일시'].str[:4] == '1988'

In [6]:
df_weather_1988 = df_weather[df_weather['일시'].str[:4] == '1988'].copy()
df_weather_1988

             일시  평균기온(℃)  최고기온(℃)  최저기온(℃)
949  1988-01-01     -2.1     10.1    -12.1
950  1988-02-01     -1.5     12.2    -12.9
951  1988-03-01      4.3     16.1     -6.8
952  1988-04-01     11.3     23.8      3.2
953  1988-05-01     17.9     31.7      9.1
954  1988-06-01     22.3     32.8     13.9
955  1988-07-01     24.4     31.6     19.0
956  1988-08-01     26.4     36.6     18.4
957  1988-09-01     21.4     30.8     11.0
958  1988-10-01     15.0     25.6      2.2
959  1988-11-01      5.5     17.9     -5.6
960  1988-12-01      0.1     13.9    -12.2

In [7]:
df_weather['일시'].unique()

array(['1907-10-01', '1907-11-01', '1907-12-01', ..., '2020-11-01',
       '2020-12-01', nan], dtype=object)

In [8]:
# 데이타프레임[컬럼명].str => 파이썬의 자료형(문자열|리스트|딕셔너리...)
df_weather_1988

             일시  평균기온(℃)  최고기온(℃)  최저기온(℃)
949  1988-01-01     -2.1     10.1    -12.1
950  1988-02-01     -1.5     12.2    -12.9
951  1988-03-01      4.3     16.1     -6.8
952  1988-04-01     11.3     23.8      3.2
953  1988-05-01     17.9     31.7      9.1
954  1988-06-01     22.3     32.8     13.9
955  1988-07-01     24.4     31.6     19.0
956  1988-08-01     26.4     36.6     18.4
957  1988-09-01     21.4     30.8     11.0
958  1988-10-01     15.0     25.6      2.2
959  1988-11-01      5.5     17.9     -5.6
960  1988-12-01      0.1     13.9    -12.2

In [9]:
# 첫글자만 추출
df_weather['일시'].str[0]

0         1
1         1
2         1
3         1
4         1
       ...
1348    NaN
1349    NaN
1350    NaN
1351    NaN
1352    NaN
Name: 일시, Length: 1353, dtype: object

In [10]:
# 마지막 글자만 추출
df_weather['일시'].str[-1]

0         1
1         1
2         1
3         1
4         1
       ...
1348    NaN
1349    NaN
1350    NaN
1351    NaN
1352    NaN
Name: 일시, Length: 1353, dtype: object

In [11]:
# 4자리만 슬라이싱 
df_weather['일시'].str[:4]

0       1907
1       1907
2       1907
3       1908
4       1908
        ...
1348     NaN
1349     NaN
1350     NaN
1351     NaN
1352     NaN
Name: 일시, Length: 1353, dtype: object

In [12]:
df_weather[df_weather['일시'].str[:4] == '1988']

             일시  평균기온(℃)  최고기온(℃)  최저기온(℃)
949  1988-01-01     -2.1     10.1    -12.1
950  1988-02-01     -1.5     12.2    -12.9
951  1988-03-01      4.3     16.1     -6.8
952  1988-04-01     11.3     23.8      3.2
953  1988-05-01     17.9     31.7      9.1
954  1988-06-01     22.3     32.8     13.9
955  1988-07-01     24.4     31.6     19.0
956  1988-08-01     26.4     36.6     18.4
957  1988-09-01     21.4     30.8     11.0
958  1988-10-01     15.0     25.6      2.2
959  1988-11-01      5.5     17.9     -5.6
960  1988-12-01      0.1     13.9    -12.2

### Q 8
Q7의 df_weather_1988 데이타프레임에서 여름(6~8)월의 평균 기온은?

In [13]:
# 여름(6~8)월 만 
df_weather_1988.loc[954:956]

             일시  평균기온(℃)  최고기온(℃)  최저기온(℃)
954  1988-06-01     22.3     32.8     13.9
955  1988-07-01     24.4     31.6     19.0
956  1988-08-01     26.4     36.6     18.4

In [14]:
df_weather_1988.loc[954:956, '평균기온(℃)']

954    22.3
955    24.4
956    26.4
Name: 평균기온(℃), dtype: float64

In [15]:
df_weather_1988.loc[954:956, '평균기온(℃)'].mean()

24.366666666666664

In [16]:
# 6~8월 불린인덱싱 사용
df_weather_1988.loc[(df_weather_1988['일시'].str[5:7].astype(int) >= 6) & (df_weather_1988['일시'].str[5:7].astype(int) <= 8)]['평균기온(℃)'].mean()

24.366666666666664

In [17]:
# 월부분 출력

In [18]:
df_weather_1988['일시'].str[5:7].astype(int)

949     1
950     2
951     3
952     4
953     5
954     6
955     7
956     8
957     9
958    10
959    11
960    12
Name: 일시, dtype: int32

### Q 9
1990년대(1990~1999) 데이타만 별도의 df_weather_1990_ped 데이타로 저장하여라 
형변환 astype(정수형) 활용

In [24]:
# 1990~1999
# 년도 4자리 추출 => 정수형 형변환 => 조건식
df_weather['일시'].str[:4]

0       1907
1       1907
2       1907
3       1908
4       1908
        ...
1348     NaN
1349     NaN
1350     NaN
1351     NaN
1352     NaN
Name: 일시, Length: 1353, dtype: object