In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['font.size'] = 16
plt.rcParams['figure.figsize'] = 20, 10
plt.rcParams['axes.unicode_minus'] = False

### datetime

In [4]:
# 현재 날짜를 가져온다.
now = datetime.datetime.today()
now

datetime.datetime(2022, 8, 19, 14, 42, 59, 313519)

In [6]:
# 각 시간값을 추출해본다.
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)
print(now.microsecond)

2022
8
19
14
42
59
313519

In [7]:
# 날짜를 지정하여 날짜를 관리하는 객체를 생성한다.
date = datetime.date(2022, 8, 19)
date

datetime.date(2022, 8, 19)

In [8]:
# 시간을 지정하여 시간을 관리하는 객체를 생성한다.
time = datetime.time(14, 47, 30)
time

datetime.time(14, 47, 30)

In [9]:
print(date.year)
print(date.month)
print(date.day)
print(time.hour)
print(time.minute)
print(time.second)

2022
8
19
14
47
30

In [10]:
# 날짜와 시간을 지정하여 시간을 관리하는 객체를 생성한다.
dt = datetime.datetime(2022, 8, 19, 14, 49, 30)
dt

datetime.datetime(2022, 8, 19, 14, 49, 30)

In [11]:
print(dt.year)
print(dt.month)
print(dt.day)
print(dt.hour)
print(dt.minute)
print(dt.second)

2022
8
19
14
49
30

In [113]:
import time
# 컴퓨터가 관리하는 시간값
# 1970년 1월 1일 0시 0부 0초 0microsecond (세계표준시)
# 시점을 0으로 잡고 1 microsecond 마다. 0.000001씩 증가한 숫자값
time.gmtime(0)
time.time()

1660888731.5389652

### 데이터 프레임의 시간 관련 기능
- 기준시 : 1970-01-01 0:0:0:0을 0으로 정한 값을 관리한다.
- 유닉스 os의 탄생시간

In [114]:
# 0일때의 시간값을 구한다.
pd.Timestamp(0)

Timestamp('1970-01-01 00:00:00')

In [115]:
# 날짜가 담겨져 있는 Series를 생성한다.
a1 = pd.Timestamp(0)
s1 = pd.Series(a1)
s1

0   1970-01-01
dtype: datetime64[ns]

In [126]:
# 나노 세컨드 단위 셋팅
# 넣어준 숫자값을 나노세컨드라고 판단하여 시간을 계산한다.
pd.Timestamp(17800)

Timestamp('1970-01-01 00:00:00.000017800')

In [127]:
# 마이크로 세컨드 단위 셋팅
pd.Timestamp(17800, unit='us')

Timestamp('1970-01-01 00:00:00.017800')

In [128]:
# 밀리 세컨드 단위 셋팅
pd.Timestamp(17800, unit='ms')

Timestamp('1970-01-01 00:00:17.800000')

In [129]:
# 초 : s, 분 : m, 시 : h, 날짜 : D, 월 : M, 년 : Y
pd.Timestamp(17800, unit='D')

Timestamp('2018-09-26 00:00:00')

In [130]:
# 날짜를 직접 지정할 수 있다.
pd.Timestamp(year=2022, month=8, day=19, hour=15, minute=10, second=30, microsecond=1000, nanosecond=1000)

Timestamp('2022-08-19 15:10:30.001001000')

In [131]:
# 숫자가 저장되어 있는 Series를 생성한다.
s1 = pd.Series([10, 100, 1000, 10000])
s1

0       10
1      100
2     1000
3    10000
dtype: int64

In [133]:
# 숫자가 저장되어 있는 컬럼의 값을 시간단위로 환산할 수 있다.
# unit : 환산기준, 생략 - 나노세컨드, us - 마이크로세컨드
# ms - 밀리세컨드, s - 초, m - 분, h - 시간, D - 일, M - 월, Y - 년
pd.to_datetime(s1, unit='D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [137]:
# 데이터 프레임을 날짜로 변환한다.
# 컬럼 이름이 중요하다.
# 컬럼 이름을 보고 무엇인지 파악한다.
# year, month, day, hour, minute, second, microsecond
df = pd.DataFrame({
    'year' : [2015, 2016],
    'month' : [2, 3],
    'day' : [4, 5]
})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [138]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [139]:
# 날짜값이 문자열로 있는 컬럼을 날짜값으로 변환한다.
# 년-월-일로 인식한다.
s1 = pd.Series(['2018-01-01', '2019-01-01'])
display(s1)
display(pd.to_datetime(s1))

0    2018-01-01
1    2019-01-01
dtype: object

0   2018-01-01
1   2019-01-01
dtype: datetime64[ns]

In [140]:
# 월-일-년도로 인식한다.
s1 = pd.Series(['01-01-2018', '01-01-2019'])

display(s1)
display(pd.to_datetime(s1))

0    01-01-2018
1    01-01-2019
dtype: object

0   2018-01-01
1   2019-01-01
dtype: datetime64[ns]

In [141]:
# 4자리 숫자 부분이 중간에 있으면 오류가 발생한다.
s1 = pd.Series(['01-2018-01', '01-2019-01'])

display(s1)
display(pd.to_datetime(s1))

0    01-2018-01
1    01-2019-01
dtype: object

ParserError: day is out of range for month: 01-2018-01

In [142]:
# 섞여 있어도 잘 된다.
s1 = pd.Series(['2018-01-01', '01-01-2019'])

display(s1)
display(pd.to_datetime(s1))

0    2018-01-01
1    01-01-2019
dtype: object

0   2018-01-01
1   2019-01-01
dtype: datetime64[ns]

In [143]:
# 양식을 지정하여 변환할 수 있다.
# https://docs.python.org/ko/3/library/datetime.html
s1 = pd.Series(['02-2018-01', '02-2018-02', '02-2018-03'])
display(s1)

0    02-2018-01
1    02-2018-02
2    02-2018-03
dtype: object

In [145]:
pd.to_datetime(s1, format='%m-%Y-%d')

0   2018-02-01
1   2018-02-02
2   2018-02-03
dtype: datetime64[ns]