In [2]:
# 쥬피터노트북 셀 스타일 조절 
from IPython.core.display import display, HTML
display(HTML("<style>.container { font-weight: bold !important; }</style>"))
display(HTML("<style>.container { width: 100% !important; }</style>"))

# 경고 메세지 숨기기 
import warnings
warnings.filterwarnings(action='ignore')

### JSON 이란?
- JavaScript Object Notation
- 키와 값으로 구성된 자바스크립트의 데이타 형태
- 파이썬의 JSON 레퍼런스 https://docs.python.org/ko/3/library/json.html

- JSON 예시 - 키와 값의 구조
```
{
 "이름": "서태웅",
 "성별": "남",
 "학교": "북산 고등학교 1학년 10반 22번",
 "특기": "농구",
 "포지션": "스몰 포워드(SF)",
 "별명": "여우",
 "체격": {"키": "187 ㎝", "몸무게": " 75 ㎏", "혈액형": " AB형(Rh+)"},
 "라이벌": ["윤대협", "정우성"]
}
```

In [32]:
# 0) 관련 모듈 임포트
import requests
import pandas as pd
import json

## 웹상의 JSON 샘플 이용하기
- json 샘플 사이트 : http://jsonplaceholder.typicode.com/

작업과정
- url 요청 => json 데이타 => 리스트 딕셔너리 => 데이타프레임

In [6]:
# 1) JSON 형태의 웹페이지 데이타 요청 => 텍스트 => JSON 객체
# json웹페이지 => json 객체 
# response객체 = requests.get("jsonURL")
# json텍스트 = response객체.text

res = requests.get("https://jsonplaceholder.typicode.com/todos")
print(res)
json_str = res.text
# json_str

<Response [200]>

In [13]:
# 2) json텍스트 => json 객체 => 딕셔너리 리스트 (밖은리스트, 안은 딕셔너리)
# 딕셔너리리스트변수 = json.loads(json객체변수.text)

todos_list = json.loads(json_str)
print(type(todos_list), len(todos_list))
# 첫반째 리스트 요소
print(type(todos_list[0]))
print(todos_list[0])

<class 'list'> 200
200
<class 'dict'>
{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [16]:
#  3) 첫번째 리스트 요소(딕셔너리)를 순회하면서 출력 (키와 값으로 분리시킴)
for key in todos_list[0]:
    print('key' ,'=>', todos_list[0][key])

key => 1
key => 1
key => delectus aut autem
key => False

In [19]:
# 4) userId 키가 1인 목록 표시
for item in todos_list:
    if item['userId'] == 1:
        print(item)

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}
{'userId': 1, 'id': 2, 'title': 'quis ut nam facilis et officia qui', 'completed': False}
{'userId': 1, 'id': 3, 'title': 'fugiat veniam minus', 'completed': False}
{'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True}
{'userId': 1, 'id': 5, 'title': 'laboriosam mollitia et enim quasi adipisci quia provident illum', 'completed': False}
{'userId': 1, 'id': 6, 'title': 'qui ullam ratione quibusdam voluptatem quia omnis', 'completed': False}
{'userId': 1, 'id': 7, 'title': 'illo expedita consequatur quia in', 'completed': False}
{'userId': 1, 'id': 8, 'title': 'quo adipisci enim quam ut ab', 'completed': True}
{'userId': 1, 'id': 9, 'title': 'molestiae perspiciatis ipsa', 'completed': False}
{'userId': 1, 'id': 10, 'title': 'illo est ratione doloremque quia maiores aut', 'completed': True}
{'userId': 1, 'id': 11, 'title': 'vero rerum temporibus dolor', 'completed': True}
{'userId': 1, 'id': 12, 'title': 'ipsa repellendus fugit nisi', 'completed': True}
{'userId': 1, 'id': 13, 'title': 'et doloremque nulla', 'completed': False}
{'userId': 1, 'id': 14, 'title': 'repellendus sunt dolores architecto voluptatum', 'completed': True}
{'userId': 1, 'id': 15, 'title': 'ab voluptatum amet voluptas', 'completed': True}
{'userId': 1, 'id': 16, 'title': 'accusamus eos facilis sint et aut voluptatem', 'completed': True}
{'userId': 1, 'id': 17, 'title': 'quo laboriosam deleniti aut qui', 'completed': True}
{'userId': 1, 'id': 18, 'title': 'dolorum est consequatur ea mollitia in culpa', 'completed': False}
{'userId': 1, 'id': 19, 'title': 'molestiae ipsa aut voluptatibus pariatur dolor nihil', 'completed': True}
{'userId': 1, 'id': 20, 'title': 'ullam nobis libero sapiente ad optio sint', 'completed': True}

In [20]:
# 5) userId 값이 1이고 completed 값이 True 만 출력
for item in todos_list:
    if item['userId'] == 1 and item['completed'] == True:
        print(item)

{'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True}
{'userId': 1, 'id': 8, 'title': 'quo adipisci enim quam ut ab', 'completed': True}
{'userId': 1, 'id': 10, 'title': 'illo est ratione doloremque quia maiores aut', 'completed': True}
{'userId': 1, 'id': 11, 'title': 'vero rerum temporibus dolor', 'completed': True}
{'userId': 1, 'id': 12, 'title': 'ipsa repellendus fugit nisi', 'completed': True}
{'userId': 1, 'id': 14, 'title': 'repellendus sunt dolores architecto voluptatum', 'completed': True}
{'userId': 1, 'id': 15, 'title': 'ab voluptatum amet voluptas', 'completed': True}
{'userId': 1, 'id': 16, 'title': 'accusamus eos facilis sint et aut voluptatem', 'completed': True}
{'userId': 1, 'id': 17, 'title': 'quo laboriosam deleniti aut qui', 'completed': True}
{'userId': 1, 'id': 19, 'title': 'molestiae ipsa aut voluptatibus pariatur dolor nihil', 'completed': True}
{'userId': 1, 'id': 20, 'title': 'ullam nobis libero sapiente ad optio sint', 'completed': True}

In [28]:
# 6) title 키값이 'u'로 시작하는 데이터만 출력
cnt = 0
for item in todos_list:
    if item['title'][0] == 'u':
        cnt += 1
    #첫글자와 전체 출력
        print(item['title'][0])
        print(item)
        print('='*50)
print('total :', cnt)

u
{'userId': 1, 'id': 20, 'title': 'ullam nobis libero sapiente ad optio sint', 'completed': True}
==================================================
u
{'userId': 3, 'id': 49, 'title': 'ut necessitatibus aut maiores debitis officia blanditiis velit et', 'completed': False}
==================================================
u
{'userId': 4, 'id': 70, 'title': 'ut sequi accusantium et mollitia delectus sunt', 'completed': False}
==================================================
u
{'userId': 7, 'id': 126, 'title': 'ut asperiores perspiciatis veniam ipsum rerum saepe', 'completed': True}
==================================================
u
{'userId': 8, 'id': 144, 'title': 'ut eum exercitationem sint', 'completed': False}
==================================================
u
{'userId': 10, 'id': 181, 'title': 'ut cupiditate sequi aliquam fuga maiores', 'completed': False}
==================================================
u
{'userId': 10, 'id': 192, 'title': 'ut quas possimus exercitationem sint voluptates', 'completed': False}
==================================================
total : 7

In [29]:
# 7) 리스트 딕셔너리 => 판다스의 데이타프레임
df = pd.DataFrame(todos_list)
df

     userId   id                                              title  completed
0         1    1                                 delectus aut autem      False
1         1    2                 quis ut nam facilis et officia qui      False
2         1    3                                fugiat veniam minus      False
3         1    4                                   et porro tempora       True
4         1    5  laboriosam mollitia et enim quasi adipisci qui...      False
..      ...  ...                                                ...        ...
195      10  196                consequuntur aut ut fugit similique       True
196      10  197                  dignissimos quo nobis earum saepe       True
197      10  198                       quis eius est sint explicabo       True
198      10  199                       numquam repellendus a magnam       True
199      10  200                       ipsam aperiam voluptates qui      False

[200 rows x 4 columns]

In [34]:
# 8) 데이타프레임을 csv로 저장
df.to_csv('output/todos.csv', index=False)