In [1]:
# 쥬피터노트북 셀 스타일 조절 
from IPython.core.display import display, HTML
display(HTML("<style>.container { font-weight: bold !important; }</style>"))
display(HTML("<style>.container { width: 100% !important; }</style>"))

# 경고 메세지 숨기기 
import warnings
warnings.filterwarnings(action='ignore')

C:\Users\pusan\AppData\Local\Temp\ipykernel_15224\829985655.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
import requests
import pandas as pd
import json

In [3]:
res = requests.get("http://jsonplaceholder.typicode.com/users")
print(res)
json_str = res.text
# json_str

<Response [200]>

In [4]:
# 1) json 샘플 사이트를 이용하여 딕셔너리 리스트 형태로 변경하고 첫번째 회원의 데이타만 출력하여라
todos = json.loads(json_str)
print(todos[0])

{'id': 1, 'name': 'Leanne Graham', 'username': 'Bret', 'email': 'Sincere@april.biz', 'address': {'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}, 'phone': '1-770-736-8031 x56442', 'website': 'hildegard.org', 'company': {'name': 'Romaguera-Crona', 'catchPhrase': 'Multi-layered client-server neural-net', 'bs': 'harness real-time e-markets'}}

In [32]:
# 2) 모두 몇명인가?
print(len(todos),"명")

10 명

In [152]:
# 3) id, name, email 만 출력하여라
for key in todos:
    print('id :', key['id'], 'name :', key['name'], 'email :', key['email'])

id : 1 name : Leanne Graham email : Sincere@april.biz
id : 2 name : Ervin Howell email : Shanna@melissa.tv
id : 3 name : Clementine Bauch email : Nathan@yesenia.net
id : 4 name : Patricia Lebsack email : Julianne.OConner@kory.org
id : 5 name : Chelsey Dietrich email : Lucio_Hettinger@annie.ca
id : 6 name : Mrs. Dennis Schulist email : Karley_Dach@jasper.info
id : 7 name : Kurtis Weissnat email : Telly.Hoeger@billy.biz
id : 8 name : Nicholas Runolfsdottir V email : Sherwood@rosamond.me
id : 9 name : Glenna Reichert email : Chaim_McDermott@dana.io
id : 10 name : Clementina DuBuque email : Rey.Padberg@karina.biz

In [159]:
# 4) id, city, phone만 출력하여라
address=[]
a=0
for i in range(len(todos)):
    address.append(todos[i]['address']['city'])
for key in todos:
    print('id :', key['id'], 'city :', address[a],'phone :', key['phone'])
    a += 1

id : 1 city : Gwenborough phone : 1-770-736-8031 x56442
id : 2 city : Wisokyburgh phone : 010-692-6593 x09125
id : 3 city : McKenziehaven phone : 1-463-123-4447
id : 4 city : South Elvis phone : 493-170-9623 x156
id : 5 city : Roscoeview phone : (254)954-1289
id : 6 city : South Christy phone : 1-477-935-8478 x6430
id : 7 city : Howemouth phone : 210.067.6132
id : 8 city : Aliyaview phone : 586.493.6943 x140
id : 9 city : Bartholomebury phone : (775)976-6794 x41206
id : 10 city : Lebsackbury phone : 024-648-3804

In [155]:
# 5) phone 이 '210.067.6132'인 회원은 누구인가?
for key in todos:
    if key['phone'] == '210.067.6132':
        print('id :', key['id'], 'name :', key['name'])

id : 7 name : Kurtis Weissnat

In [161]:
# 6) name이 'C'로 시작하는 회원목록만 아래와 같은 형태로 출력하여라
for key in todos:
    if key['name'][0] == 'C':
        print('id :', key['id'], 'name :', key['name'], 'phone :', key['phone'])

id : 3 name : Clementine Bauch phone : 1-463-123-4447
id : 5 name : Chelsey Dietrich phone : (254)954-1289
id : 10 name : Clementina DuBuque phone : 024-648-3804

In [163]:
# 7) 데이타프레임으로 변경하여라
df = pd.DataFrame(todos)
df

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."