In [1]:
from pyspark import SparkContext

In [2]:
import sklearn
import pandas as pd
import numpy as np

In [3]:
sc = SparkContext('local') # 분산　클러스터의　마스터 ip

22/07/26 09:20:17 WARN Utils: Your hostname, master resolves to a loopback address: 127.0.1.1; using 192.168.139.128 instead (on interface ens33)
22/07/26 09:20:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/07/26 09:20:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
rdd1 = sc.textFile('aa.txt') # 하둡에서　읽어온다．．
rdd1

aa.txt MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [5]:
# action
rdd1.collect() # 조심해서　사용해야　한다．．．마스터Pc가　죽을수있음．

['aaa', 'bbb', 'ccc', 'ddd']

In [6]:
my = [10,20,30,40,50]
rdd2 = sc.parallelize(my)

In [7]:
rdd2.collect()

[10, 20, 30, 40, 50]

In [8]:
sc.stop()

In [9]:
from sklearn.datasets import load_iris

In [13]:
load_iris(as_frame=True).data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]