In [17]:
from pyspark import SparkContext

In [18]:
import numpy as np
import pandas as pd

In [19]:
sc = SparkContext('local')

22/07/26 13:58:33 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

2. births.txt 파일을 이용하여 구하시요
1) 남아수의 합과 평균을 구하시요
2) 여아수의 합과 평균을 구하시요
3) 남아수가 높은 탑 5를 구하시요
4) 전체 남아수의 비율을 구하시요.
5) 여아수를 10등분 했을때 각계급의 수를
구하시요

In [20]:
txtRdd = sc.textFile('./data/births.txt')

In [21]:
txtRdd.flatMap(lambda v:v.split(',')).collect()

['1880',
 ' 90993',
 ' 110491',
 '1881',
 ' 91954',
 ' 100745',
 '1882',
 ' 107850',
 ' 113688',
 '1883',
 ' 112321',
 ' 104629',
 '1884',
 ' 129022',
 ' 114445',
 '1885',
 ' 133055',
 ' 107800',
 '1886',
 ' 144535',
 ' 110784',
 '1887',
 ' 145982',
 ' 101414',
 '1888',
 ' 178627',
 ' 120853',
 '1889',
 ' 178366',
 ' 110584',
 '1890',
 ' 190377',
 ' 111025',
 '1891',
 ' 185482',
 ' 101196',
 '1892',
 ' 212346',
 ' 122037',
 '1893',
 ' 212906',
 ' 112317',
 '1894',
 ' 222922',
 ' 115772',
 '1895',
 ' 233630',
 ' 117398',
 '1896',
 ' 237920',
 ' 119570',
 '1897',
 ' 234202',
 ' 112758',
 '1898',
 ' 258770',
 ' 122693',
 '1899',
 ' 233023',
 ' 106212',
 '1900',
 ' 299828',
 ' 150499',
 '1901',
 ' 239348',
 ' 106471',
 '1902',
 ' 264077',
 ' 122659',
 '1903',
 ' 261973',
 ' 119234',
 '1904',
 ' 275371',
 ' 128125',
 '1905',
 ' 291629',
 ' 132319',
 '1906',
 ' 295303',
 ' 133159',
 '1907',
 ' 318566',
 ' 146833',
 '1908',
 ' 334313',
 ' 154344',
 '1909',
 ' 347228',
 ' 163999',
 '1910',
 ' 396501',
 ' 194218',
 '1911',
 ' 418299',
 ' 225968',
 '1912',
 ' 558103',
 ' 429945',
 '1913',
 ' 624518',
 ' 512557',
 '1914',
 ' 761548',
 ' 654762',
 '1915',
 ' 983874',
 ' 848603',
 '1916',
 ' 1044323',
 ' 890099',
 '1917',
 ' 1081280',
 ' 925511',
 '1918',
 ' 1157647',
 ' 1013537',
 '1919',
 ' 1130145',
 ' 980149',
 '1920',
 ' 1198283',
 ' 1064463',
 '1921',
 ' 1232999',
 ' 1101457',
 '1922',
 ' 1200919',
 ' 1088287',
 '1923',
 ' 1206330',
 ' 1096168',
 '1924',
 ' 1248876',
 ' 1132751',
 '1925',
 ' 1217352',
 ' 1115958',
 '1926',
 ' 1185304',
 ' 1110505',
 '1927',
 ' 1192330',
 ' 1126717',
 '1928',
 ' 1153117',
 ' 1107518',
 '1929',
 ' 1116422',
 ' 1075313',
 '1930',
 ' 1125761',
 ' 1097176',
 '1931',
 ' 1064497',
 ' 1039127',
 '1932',
 ' 1066994',
 ' 1043808',
 '1933',
 ' 1007710',
 ' 991127',
 '1934',
 ' 1044039',
 ' 1032291',
 '1935',
 ' 1048428',
 ' 1040930',
 '1936',
 ' 1040202',
 ' 1036974',
 '1937',
 ' 1063872',
 ' 1066309',
 '1938',
 ' 1103277',
 ' 1108841',
 '1939',
 ' 1096518',
 ' 1106544',
 '1940',
 ' 1143325',
 ' 1158900',
 '1941',
 ' 1207919',
 ' 1227941',
 '1942',
 ' 1350545',
 ' 1380774',
 '1943',
 ' 1395082',
 ' 1426846',
 '1944',
 ' 1327104',
 ' 1362555',
 '1945',
 ' 1307028',
 ' 1345610',
 '1946',
 ' 1571184',
 ' 1623650',
 '1947',
 ' 1772644',
 ' 1829223',
 '1948',
 ' 1697814',
 ' 1754469',
 '1949',
 ' 1710825',
 ' 1773725',
 '1950',
 ' 1713180',
 ' 1790673',
 '1951',
 ' 1800042',
 ' 1881080',
 '1952',
 ' 1854698',
 ' 1944277',
 '1953',
 ' 1880326',
 ' 1969777',
 '1954',
 ' 1941682',
 ' 2037374',
 '1955',
 ' 1954664',
 ' 2057918',
 '1956',
 ' 2007512',
 ' 2113694',
 '1957',
 ' 2044160',
 ' 2155866',
 '1958',
 ' 2010884',
 ' 2120712',
 '1959',
 ' 2023044',
 ' 2133509',
 '1960',
 ' 2022093',
 ' 2132717',
 '1961',
 ' 2017316',
 ' 2122502',
 '1962',
 ' 1966548',
 ' 2068945',
 '1963',
 ' 1927217',
 ' 2031755',
 '1964',
 ' 1894594',
 ' 1993270',
 '1965',
 ' 1765001',
 ' 1861378',
 '1966',
 ' 1691868',
 ' 1783964',
 '1967',
 ' 1650764',
 ' 1744527',
 '1968',
 ' 1640103',
 ' 1738928',
 '1969',
 ' 1686947',
 ' 1789732',
 '1970',
 ' 1748147',
 ' 1859594',
 '1971',
 ' 1663475',
 ' 1769201',
 '1972',
 ' 1521185',
 ' 1622666',
 '1973',
 ' 1458139',
 ' 1559338',
 '1974',
 ' 1467413',
 ' 1573105',
 '1975',
 ' 1457699',
 ' 1562207',
 '1976',
 ' 1465096',
 ' 1569904',
 '1977',
 ' 1532997',
 ' 1643684',
 '1978',
 ' 1531658',
 ' 1642250',
 '1979',
 ' 1605051',
 ' 1721947',
 '1980',
 ' 1659933',
 ' 1783876',
 '1981',
 ' 1667465',
 ' 1790907',
 '1982',
 ' 1692678',
 ' 1813970',
 '1983',
 ' 1670061',
 ' 1791732',
 '1984',
 ' 1682973',
 ' 1803830',
 '1985',
 ' 1720036',
 ' 1847032',
 '1986',
 ' 1714664',
 ' 1840164',
 '1987',
 ' 1737891',
 ' 1865662',
 '1988',
 ' 1779839',
 ' 1912602',
 '1989',
 ' 1843105',
 ' 1999999',
 '1990',
 ' 1897709',
 ' 2052543',
 '1991',
 ' 1874434',
 ' 2019463',
 '1992',
 ' 1843304',
 ' 1996388',
 '1993',
 ' 1808379',
 ' 1960397',
 '1994',
 ' 1785074',
 ' 1931157',
 '1995',
 ' 1757927',
 ' 1902832',
 '1996',
 ' 1752249',
 ' 1893378',
 '1997',
 ' 1739806',
 ' 1884122',
 '1998',
 ' 1765915',
 ' 1910250',
 '1999',
 ' 1772632',
 ' 1918809',
 '2000',
 ' 1814601',
 ' 1962406',
 '2001',
 ' 1799049',
 ' 1941251',
 '2002',
 ' 1795206',
 ' 1939815',
 '2003',
 ' 1825359',
 ' 1973434',
 '2004',
 ' 1834145',
 ' 1982794',
 '2005',
 ' 1845379',
 ' 1994841',
 '2006',
 ' 1898463',
 ' 2052377',
 '2007',
 ' 1919408',
 ' 2072139',
 '2008',
 ' 1887234',
 ' 2036289',
 '2009',
 ' 1832925',
 ' 1979303',
 '2010',
 ' 1772738',
 ' 1913851',
 '2011',
 ' 1753500',
 ' 1893230']

In [22]:
# 남아 수의 합과 평균
print('남아 수의 합:', txtRdd.map(lambda v: int(v.split(',')[1])).sum())
print('남아 수의 평균:', txtRdd.map(lambda v: int(v.split(',')[1])).mean())

남아 수의 합: 161802441
남아 수의 평균: 1225776.0681818184

In [23]:
# 여아 수의 합과 평균
print('여아 수의 합:', txtRdd.map(lambda v: int(v.split(',')[2])).sum())
print('여아 수의 평균:', txtRdd.map(lambda v: int(v.split(',')[2])).mean())

여아 수의 합: 164392696
여아 수의 평균: 1245399.2121212124

In [24]:
# 남아수가 높은 탑 5를 구하시오
print('top by year')
txtRdd.map(lambda v : v.split(', ')).map( lambda v : (v[0], v[1])).sortBy( lambda v : int(v[1]), ascending=False).take(5)

top by year

[('1957', '2044160'),
 ('1959', '2023044'),
 ('1960', '2022093'),
 ('1961', '2017316'),
 ('1958', '2010884')]

In [25]:
# 전체 남아수의 비율을 구하시요.
txtRdd.map( lambda v: int(v.split(',')[1])).sum()/(txtRdd.map( lambda v: int(v.split(',')[1])).sum()+txtRdd.map( lambda v: int(v.split(',')[2])).sum())*100

49.60295928629985

In [26]:
nBoy = txtRdd.map( lambda v: int(v.split(',')[1])).sum()
nGirl = txtRdd.map( lambda v: int(v.split(',')[2])).sum()
nBoy/(nBoy+nGirl)*100

49.60295928629985

In [39]:
txtRdd.map( lambda v: int(v.split(',')[2])).histogram(10)

([100745.0,
  306257.1,
  511769.2,
  717281.3,
  922793.4,
  1128305.5,
  1333817.6,
  1539329.7,
  1744841.8,
  1950353.9000000001,
  2155866],
 [32, 1, 2, 2, 22, 3, 4, 11, 30, 25])

In [45]:
# 여아수를 10개의 계급으로 했을때 각계급의 수를 구하시요
txtRdd.map( lambda v: int(v.split(',')[2])).histogram(10)

([100745.0,
  306257.1,
  511769.2,
  717281.3,
  922793.4,
  1128305.5,
  1333817.6,
  1539329.7,
  1744841.8,
  1950353.9000000001,
  2155866],
 [32, 1, 2, 2, 22, 3, 4, 11, 30, 25])

In [37]:
TR = txtRdd.map( lambda v: int(v.split(',')[2])).histogram(10)

In [44]:
# 여아수를 10개의 계급으로 했을때 각계급의 수를 구하시요
for i in range(len(TR[1])):
    print(TR[1][i])

32
1
2
2
22
3
4
11
30
25

sc.stop()