In [28]:
from pyspark import SparkContext
import numpy as np
import pandas as pd

In [31]:
sc = SparkContext('local')

In [32]:
txtRdd = sc.textFile('./data/births.txt')

In [33]:
empList=['1,kim,000-000-000','2,lee,111-111-111',
       '3,park,222-222-222','4,song,333-333-333',
       '5,han,555-555-555','6,yoon,666-666-666']
deptList = ['1,sale','2,developer','3,manager',
           '4,sale1','5,developer1','6,manager1']

In [34]:
empRdd = sc.parallelize(empList)
deptRdd = sc.parallelize(deptList)

In [35]:
empRdd.collect()

['1,kim,000-000-000',
 '2,lee,111-111-111',
 '3,park,222-222-222',
 '4,song,333-333-333',
 '5,han,555-555-555',
 '6,yoon,666-666-666']

In [36]:
deptRdd.collect()

['1,sale', '2,developer', '3,manager', '4,sale1', '5,developer1', '6,manager1']

In [48]:
empRdd1 = empRdd.map(lambda v:v.split(','))
empRdd1.collect()

[['1', 'kim', '000-000-000'],
 ['2', 'lee', '111-111-111'],
 ['3', 'park', '222-222-222'],
 ['4', 'song', '333-333-333'],
 ['5', 'han', '555-555-555'],
 ['6', 'yoon', '666-666-666']]

In [49]:
empRdd2 = empRdd1.map(lambda v:(int(v[0]),v[1]+' '+v[2]))
empRdd2.collect()

[(1, 'kim 000-000-000'),
 (2, 'lee 111-111-111'),
 (3, 'park 222-222-222'),
 (4, 'song 333-333-333'),
 (5, 'han 555-555-555'),
 (6, 'yoon 666-666-666')]

In [53]:
deptRdd1 = deptRdd.map( lambda v:v.split(',')).map( lambda v:( int(v[0]),v[1]) )
deptRdd1.collect()

[(1, 'sale'),
 (2, 'developer'),
 (3, 'manager'),
 (4, 'sale1'),
 (5, 'developer1'),
 (6, 'manager1')]

In [54]:
joinRdd = empRdd2.join( deptRdd1 )
joinRdd.collect()

[(2, ('lee 111-111-111', 'developer')),
 (4, ('song 333-333-333', 'sale1')),
 (6, ('yoon 666-666-666', 'manager1')),
 (1, ('kim 000-000-000', 'sale')),
 (3, ('park 222-222-222', 'manager')),
 (5, ('han 555-555-555', 'developer1'))]

In [55]:
sortRdd = joinRdd.sortByKey()
sortRdd.collect()

[(1, ('kim 000-000-000', 'sale')),
 (2, ('lee 111-111-111', 'developer')),
 (3, ('park 222-222-222', 'manager')),
 (4, ('song 333-333-333', 'sale1')),
 (5, ('han 555-555-555', 'developer1')),
 (6, ('yoon 666-666-666', 'manager1'))]

In [56]:
fRdd = sortRdd.filter(lambda v:v[0]>=4 )
fRdd.collect()

[(4, ('song 333-333-333', 'sale1')),
 (5, ('han 555-555-555', 'developer1')),
 (6, ('yoon 666-666-666', 'manager1'))]